Repository neuronest/neuronest: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, toml-sort, pylint, terraform fmt

black:
  name: black
  entry: black
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system
  args:
  - --config=.flake8

isort:
  name: isort
  entry: isort
  language: system
  args:
  - --profile=black
  - --resolve-all-configs

toml-sort:
  name: toml-sort
  entry: toml-sort
  language: system
  args:
  - --in-place
  - -a

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --rcfile=.pylintrc
  - -j 0
  - --reports=n

terraform fmt:
  name: terraform fmt
  entry: terraform fmt
  language: system

(test) Trigger flow
  .github/workflows/abstract_online_prediction_model.yaml
  customer-dummy-project/iac/variables.yaml
Due: none

(test) Trigger flow
  .github/workflows/customer_dummy_project.yaml
  customer-dummy-project/iac/variables.yaml
Due: none

(test) Trigger flow
  .github/workflows/customer_dummy_project.yaml
Due: none

(test) Try people counting
  .github/workflows/customer_dummy_project.yaml
Due: none

(fix) uninstantiate endpoint after tests
  functional-video-comparator/tests/integration_tests/conftest.py
  functional-video-comparator/tests/integration_tests/test_endpoint.py
Due: black, flake8, isort, pylint

(fix) uninstantiate endpoint after tests
  .github/workflows/customer_dummy_project.yaml
Due: none

(fix) Try functional people counting
  .github/workflows/customer_dummy_project.yaml
Due: none

(config) Freeze package versions
  shared/poetry.lock
  shared/pyproject.toml
Due: toml-sort

(feat) Implement service-evaluator module
  service-evaluator/.dvc/.gitignore
  service-evaluator/.dvc/config
  service-evaluator/.dvcignore
  service-evaluator/Dockerfile
  service-evaluator/conf/config.yaml
  service-evaluator/datasets/.gitignore
  service-evaluator/datasets/people_counting_dataset.dvc
  service-evaluator/iac/main.tf
  service-evaluator/iac/outputs.tf
  service-evaluator/iac/variables.tf
  service-evaluator/iac/variables.yaml
  service-evaluator/iac/variables_shared.tf
  service-evaluator/install.sh
  service-evaluator/poetry.lock
  service-evaluator/pyproject.toml
  service-evaluator/service_evaluator/__init__.py
  service-evaluator/service_evaluator/api/__init__.py
  service-evaluator/service_evaluator/api/dependencies.py
  service-evaluator/service_evaluator/api/evaluate.py
  service-evaluator/service_evaluator/api/main.py
  service-evaluator/service_evaluator/api/routes.py
  service-evaluator/service_evaluator/config.py
  service-evaluator/service_evaluator/dataset_manager.py
  service-evaluator/service_evaluator/environment_variables.py
  service-evaluator/service_evaluator/jobs/__init__.py
  service-evaluator/service_evaluator/jobs/environment_variables.py
  service-evaluator/service_evaluator/jobs/evaluate.py
  service-evaluator/service_evaluator/predictor/__init__.py
  service-evaluator/service_evaluator/predictor/base.py
  service-evaluator/service_evaluator/predictor/factory.py
  service-evaluator/service_evaluator/predictor/people_counting.py
  service-evaluator/service_evaluator/results_writer.py
  service-evaluator/service_evaluator/scorer/__init__.py
  service-evaluator/service_evaluator/scorer/base.py
  service-evaluator/service_evaluator/scorer/factory.py
  service-evaluator/service_evaluator/scorer/people_counting.py
  service-evaluator/tests/__init__.py
  service-evaluator/tests/unit_tests/__init__.py
  service-evaluator/tests/unit_tests/test_dummy.py
  shared/core/services/training_metrics_writer.py
Due: black, flake8, isort, toml-sort, pylint, terraform fmt

(feat) Update shared package following service evaluator implementation
  shared/core/client/__init__.py
  shared/core/client/base.py
  shared/core/client/factory.py
  shared/core/client/model_instantiator.py
  shared/core/client/object_detection.py
  shared/core/client/people_counting.py
  shared/core/config_overriding.py
  shared/core/fixed_parameters.py
  shared/core/google/cloud_run_manager.py
  shared/core/google/firestore_client.py
  shared/core/google/vertex_ai_manager.py
  shared/core/routes/service_evaluator.py
  shared/core/schemas/bigquery/base.py
  shared/core/schemas/bigquery/tables.py
  shared/core/schemas/google/cloud_run.py
  shared/core/schemas/service_evaluator.py
  shared/core/schemas/training_metrics/__init__.py
  shared/core/services/bigquery_writer.py
  shared/iac/modules/services/service-evaluator/apis.tf
  shared/iac/modules/services/service-evaluator/cloud_run.tf
  shared/iac/modules/services/service-evaluator/iam.tf
  shared/iac/modules/services/service-evaluator/outputs.tf
  shared/iac/modules/services/service-evaluator/service_accounts.tf
  shared/iac/modules/services/service-evaluator/variables.tf
  shared/iac/modules/services/service-evaluator/variables_shared.tf
Due: black, flake8, isort, pylint, terraform fmt

(update) Update object detection package following shared package updates
  object-detection/config.yaml
  object-detection/object_detection/config.py
  object-detection/object_detection/train.py
Due: black, flake8, isort, pylint

(feat) Make service evaluator reuse previously computed predictions if available
  service-evaluator/service_evaluator/api/evaluate.py
  service-evaluator/service_evaluator/environment_variables.py
  service-evaluator/service_evaluator/jobs/environment_variables.py
  service-evaluator/service_evaluator/jobs/evaluate.py
  service-evaluator/service_evaluator/results_handler.py
  service-evaluator/service_evaluator/results_writer.py
  service-evaluator/service_evaluator/scorer/base.py
  service-evaluator/service_evaluator/scorer/metrics.py
  service-evaluator/service_evaluator/scorer/people_counting.py
  shared/core/client/base.py
  shared/core/client/factory.py
  shared/core/client/model_instantiator.py
  shared/core/client/object_detection.py
  shared/core/client/people_counting.py
  shared/core/google/cloud_run_manager.py
  shared/core/google/vertex_ai_manager.py
  shared/core/schemas/bigquery/tables.py
  shared/core/schemas/google/cloud_run.py
Due: black, flake8, isort, pylint

(config) Update poetry locks
  service-evaluator/poetry.lock
  shared/poetry.lock
Due: none

(config) Implement service evaluator CI
  .github/workflows/customer_dummy_project.yaml
  .github/workflows/functional_people_counting.yaml
  .github/workflows/service_evaluator.yaml
  functional-people-counting/iac/main.tf
  functional-people-counting/iac/variables_object_detection_model_instantiator.tf
  functional-people-counting/iac/variables_service_evaluator.tf
Due: terraform fmt

(fix) Fix service evaluator CI
  .github/workflows/functional_people_counting.yaml
Due: none

(fix) Fix service evaluator CI
  functional-people-counting/iac/variables.yaml
Due: none

(wip) Decrease terraform timeout for now
  .github/actions/run_terraform/action.yaml
Due: none

(fix) Correctly tests whether the prefix is already present or not
  .github/actions/set_variables/create_env_file.py
Due: black, flake8, isort, pylint

(config) Update poetry version
  .github/variables/variables.yaml
Due: none

(config) Disable functional object detection pipeline trigger for now
  .github/workflows/customer_dummy_project.yaml
  .github/workflows/functional_people_counting.yaml
Due: none

(config) Update shared and service evaluator iac
  functional-people-counting/iac/main.tf
  functional-people-counting/iac/variables_model_instantiator.tf
  functional-people-counting/iac/variables_people_counting.tf
  service-evaluator/iac/variables.tf
  service-evaluator/iac/variables.yaml
  shared/iac/modules/services/functional-people-counting/modules.tf
  shared/iac/modules/services/functional-people-counting/variables_service_evaluator.tf
  shared/iac/modules/services/service-evaluator/apis.tf
  shared/iac/modules/services/service-evaluator/cloud_run.tf
  shared/iac/modules/services/service-evaluator/variables.tf
  shared/iac/modules/services/service-evaluator/variables_shared.tf
Due: terraform fmt

(config) Regenerate poetry locks
  model-instantiator/poetry.lock
  object-detection/poetry.lock
  people-counting/poetry.lock
  service-evaluator/poetry.lock
  shared/poetry.lock
  shared/pyproject.toml
Due: toml-sort

(fix) Fix object detection train following shared schemas update
  object-detection/object_detection/train.py
Due: black, flake8, isort, pylint

(update) Update moved modules imports and update metrics handling
  service-evaluator/Dockerfile
  service-evaluator/service_evaluator/api/dependencies.py
  service-evaluator/service_evaluator/api/evaluate.py
  service-evaluator/service_evaluator/environment_variables.py
  service-evaluator/service_evaluator/jobs/environment_variables.py
  service-evaluator/service_evaluator/jobs/evaluate.py
  service-evaluator/service_evaluator/results_handler.py
  service-evaluator/service_evaluator/scorer/metrics.py
  service-evaluator/service_evaluator/scorer/people_counting.py
  shared/core/schemas/bigquery/tables.py
  shared/core/schemas/service_evaluator.py
Due: black, flake8, isort, pylint

(config) Regenerate poetry locks
  functional-object-detection/poetry.lock
  functional-people-counting/poetry.lock
Due: none

(refactor) Refactor the elements that do not need to change and standardize the way of doing things between the different prediction models
  object-detection/object_detection/model_handler.py
  object-detection/object_detection/modules/model.py
  shared/core/auth.py
  shared/core/client/abstract/online_prediction_model.py
  shared/core/client/object_detection.py
  shared/core/client/video_comparator.py
  shared/core/google/cloud_run_job_manager.py
  shared/core/google/firestore_client.py
  shared/core/google/logging_client.py
  shared/core/google/storage_client.py
  shared/core/google/vertex_ai_manager.py
  shared/core/packages/abstract/online_prediction_model/model_handler.py
  shared/core/packages/abstract/online_prediction_model/modules/model.py
  shared/core/schemas/abstract/online_prediction_model.py
  shared/core/schemas/object_detection.py
  shared/core/schemas/video_comparator.py
  shared/core/serialization/dataframe.py
  shared/core/tools.py
  video-comparator/video_comparator/model/layers.py
  video-comparator/video_comparator/model_handler.py
  video-comparator/video_comparator/modules/model.py
Due: black, flake8, isort, pylint

(test) Test all workflows
  .github/workflows/customer_dummy_project.yaml
Due: none

(feat) Implement service evaluator client and integration test
  .github/workflows/functional_people_counting.yaml
  functional-people-counting/tests/environment_variables.py
  functional-people-counting/tests/integration_tests/conftest.py
  functional-people-counting/tests/integration_tests/test_evaluate_service.py
  service-evaluator/service_evaluator/api/resources.py
  service-evaluator/service_evaluator/jobs/evaluate.py
  service-evaluator/service_evaluator/results_handler.py
  shared/core/client/service_evaluator.py
  shared/core/exceptions.py
  shared/core/routes/service_evaluator.py
  shared/core/schemas/bigquery/tables.py
  shared/core/schemas/service_evaluator.py
Due: black, flake8, isort, pylint

(fix) Implement get_output_sample_schema_class method for prediction model clients
  .github/workflows/customer_dummy_project.yaml
  shared/core/client/object_detection.py
  shared/core/client/video_comparator.py
  shared/core/google/cloud_run_job_manager.py
Due: black, flake8, isort, pylint

(fix) Provide project_id to firestore client
  model-instantiator/model_instantiator/api/dependencies.py
  shared/core/client/video_comparator.py
Due: black, flake8, isort, pylint

(fix) Provide right project_id, implement abstract method in object detection model handler
  model-instantiator/model_instantiator/api/dependencies.py
  object-detection/object_detection/model_handler.py
  shared/core/packages/abstract/online_prediction_model/model_handler.py
  video-comparator/video_comparator/model/layers.py
Due: black, flake8, isort, pylint

(fix) Fix object detection tests
  shared/core/client/abstract/online_prediction_model.py
  shared/core/google/vertex_ai_manager.py
  shared/core/schemas/abstract/online_prediction_model.py
Due: black, flake8, isort, pylint

(fix) Add missing service evaluator output
  functional-people-counting/iac/outputs.tf
  shared/iac/modules/services/functional-people-counting/outputs.tf
Due: terraform fmt

(config) Reset timeout config value
  .github/actions/run_terraform/action.yaml
Due: none

(fix) Fix command typo
  .github/workflows/functional_people_counting.yaml
Due: none

(config) Update shared pyproject.toml and generate poetry locks
  functional-object-detection/poetry.lock
  functional-people-counting/poetry.lock
  model-instantiator/poetry.lock
  object-detection/poetry.lock
  people-counting/poetry.lock
  service-evaluator/poetry.lock
  service-evaluator/pyproject.toml
  shared/poetry.lock
  shared/pyproject.toml
Due: toml-sort

(fix) Add project_id where needed and fix video comparator schema
  people-counting/people_counting/api/dependencies.py
  shared/core/schemas/video_comparator.py
Due: black, flake8, isort, pylint

(test) Try upgrade pip to see whether poetry is found
  .github/actions/set_up_python/action.yaml
Due: none

(test) Test ci
  .github/workflows/customer_dummy_project.yaml
Due: none

(fix) Provide project_id correctly to create clients functions
  people-counting/people_counting/jobs/count_people.py
  people-counting/people_counting/jobs/services.py
Due: black, flake8, isort, pylint

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$, but not: ^migrations/
  isort: any of: \.py$
  toml-sort: any of: pyproject.toml
  pylint: any of: \.py$, but not: ^migrations/
  terraform fmt: any of: \.(tf|tfvars)$
