Repository neuronest/neuronest: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, toml-sort, pylint, terraform fmt

black:
  name: black
  entry: black
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system
  args:
  - --config=.flake8

isort:
  name: isort
  entry: isort
  language: system
  args:
  - --profile=black
  - --resolve-all-configs

toml-sort:
  name: toml-sort
  entry: toml-sort
  language: system
  args:
  - --in-place
  - -a

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --rcfile=.pylintrc
  - -j 0
  - --reports=n

terraform fmt:
  name: terraform fmt
  entry: terraform fmt
  language: system

(fix) Fix potential issue in vertex schema
  shared/core/schemas/vertex_ai.py
Due: black, flake8, isort, pylint

(config) Make GITHUB_BRANCH a environment variable and define it everywhere
  .github/actions/set_variables/action.yaml
  .github/actions/set_variables/create_env_file.py
  .github/actions/set_variables_gcloud_auth/action.yaml
  .github/workflows/customer_dummy_project.yaml
  .github/workflows/functional_object_detection.yaml
  .github/workflows/functional_people_counting.yaml
  .github/workflows/model_instantiator.yaml
  .github/workflows/object_detection.yaml
  .github/workflows/people_counting.yaml
Due: black, flake8, isort, pylint

(wip) Wip
  object-detection/iac/variables.yaml
Due: none

(fix) Fix variable naming
  .github/actions/set_variables/create_env_file.py
  functional-video-comparator/iac/variables.yaml
Due: black, flake8, isort, pylint

(fix) Fix too long name
  video-comparator/iac/variables.yaml
Due: none

(fix) Remove make space for docker action
  .github/workflows/abstract_online_prediction_model.yaml
Due: none

(feat) Use branch based behaviour (#43)
  .github/actions/set_variables/action.yaml
  .github/actions/set_variables/create_env_file.py
  .github/variables/variables.yaml
  .github/workflows/customer_dummy_project.yaml
  .github/workflows/functional_object_detection.yaml
  .github/workflows/functional_people_counting.yaml
  .github/workflows/model_instantiator.yaml
  .github/workflows/object_detection.yaml
  .github/workflows/people_counting.yaml
  customer-dummy-project/iac/variables.yaml
  functional-object-detection/iac/variables.yaml
  functional-people-counting/iac/variables.yaml
  model-instantiator/iac/variables.yaml
  object-detection/config.yaml
  object-detection/iac/variables.yaml
  people-counting/iac/variables.yaml
  shared/core/schemas/vertex_ai.py
Due: black, flake8, isort, pylint

(hotfix) Fix wrong branch name in IaC variables
  object-detection/iac/variables.yaml
Due: none

(update) Stop using Vertex model versioning
  model-instantiator/model_instantiator/api/instantiate.py
  model-instantiator/model_instantiator/api/uninstantiate.py
  model-instantiator/model_instantiator/jobs/deploy_model.py
  object-detection/object_detection/cli.py
  shared/core/client/object_detection.py
  shared/core/google/vertex_ai_manager.py
Due: black, flake8, isort, pylint

(config) Add cancelled() in CI to make flow runs cancellable
  .github/workflows/functional_object_detection.yaml
  .github/workflows/functional_people_counting.yaml
  .github/workflows/model_instantiator.yaml
  .github/workflows/object_detection.yaml
  .github/workflows/people_counting.yaml
Due: none

(hotfix) Fix accelerator none type issue
  shared/core/schemas/vertex_ai.py
Due: black, flake8, isort, pylint

(fix) Fix model name suffix
  shared/core/google/vertex_ai_manager.py
Due: black, flake8, isort, pylint

(config) Update customer dummy project id and code
  customer-dummy-project/iac/variables.yaml
Due: none

(fix) Fix vertex endpoint naming by explicitly creating it
  shared/core/google/vertex_ai_manager.py
Due: black, flake8, isort, pylint

(test) Trigger flow
  .github/workflows/abstract_online_prediction_model.yaml
Due: none

(fix) Fix vertex endpoint retrieving
  shared/core/google/vertex_ai_manager.py
Due: black, flake8, isort, pylint

(fix) Remove cloud sdk container from integration tests
  .github/workflows/functional_abstract_online_prediction_model.yaml
Due: none

(fix) Remove Set up gcloud before gcloud auth
  .github/workflows/functional_abstract_online_prediction_model.yaml
Due: none

(fix) Install python as root
  .github/workflows/functional_abstract_online_prediction_model.yaml
Due: none

(fix) Make cancelled cloud job included in terminated ones
  shared/core/google/cloud_run_job_manager.py
  shared/core/schemas/google/cloud_run.py
Due: black, flake8, isort, pylint

(refactor) Reorganize the terraform files of the video_comparator module
  .github/workflows/video_comparator_dummy_project.yaml
  shared/iac/modules/services/video-comparator/apis.tf
  shared/iac/modules/services/video-comparator/buckets.tf
  shared/iac/modules/services/video-comparator/iam.tf
  shared/iac/modules/services/video-comparator/modules.tf
  shared/iac/modules/services/video-comparator/outputs.tf
  shared/iac/modules/services/video-comparator/service_accounts.tf
Due: terraform fmt

(refactor) Switch to customer_dummy_project.yaml to trigger flows
  .github/workflows/customer_dummy_project.yaml
Due: none

(fix) Changes the way to retrieve MODEL_NAME dynamically
  .github/actions/set_variables/create_env_file.py
  .github/workflows/customer_dummy_project.yaml
  .github/workflows/functional_abstract_online_prediction_model.yaml
Due: black, flake8, isort, pylint

(update) Enforce the uuid at the end of the model name and get the models based on this rule
  shared/core/google/vertex_ai_manager.py
Due: black, flake8, isort, pylint

(fix) Add the necessary inputs to object detection workflow to be called by functional people counting workflow
  .github/workflows/abstract_online_prediction_model.yaml
  .github/workflows/object_detection.yaml
Due: none

(update) Adds the new endpoint deployment system during integration tests via the instantiator model
  .github/workflows/functional_abstract_online_prediction_model.yaml
  functional-video-comparator/tests/environment_variables.py
  functional-video-comparator/tests/integration_tests/conftest.py
  functional-video-comparator/tests/integration_tests/test_dummy.py
Due: black, flake8, isort, pylint

(fix) Fix model display regex
  shared/core/google/vertex_ai_manager.py
Due: black, flake8, isort, pylint

(fix) Remove useless input from object detection workflow
  .github/workflows/object_detection.yaml
Due: none

(test) Trigger flow
  .github/workflows/customer_dummy_project.yaml
Due: none

(fix) Remove useless inputs
  .github/workflows/functional_people_counting.yaml
Due: none

(fix) Add service account name of object detection to model instantiator in functional people counting iac
  shared/iac/modules/services/functional-people-counting/modules.tf
  shared/iac/modules/services/object-detection/outputs.tf
Due: terraform fmt

(config) Add main project branch based
  customer-dummy-project/iac/variables.yaml
Due: none

(update) Stop using Vertex model versioning (#45)
  customer-dummy-project/iac/variables.yaml
  model-instantiator/model_instantiator/api/instantiate.py
  model-instantiator/model_instantiator/api/uninstantiate.py
  model-instantiator/model_instantiator/jobs/deploy_model.py
  object-detection/object_detection/cli.py
  shared/core/client/object_detection.py
  shared/core/google/cloud_run_job_manager.py
  shared/core/google/vertex_ai_manager.py
  shared/core/schemas/google/cloud_run.py
Due: black, flake8, isort, pylint

(update) Standardize model instantiator routes
  model-instantiator/iac/variables.yaml
  model-instantiator/model_instantiator/api/instantiate.py
  model-instantiator/model_instantiator/api/uninstantiate.py
  shared/core/client/model_instantiator.py
  shared/core/routes/model_instantiator.py
Due: black, flake8, isort, pylint

(update) Standardize model instantiator routes (#47)
  model-instantiator/iac/variables.yaml
  model-instantiator/model_instantiator/api/instantiate.py
  model-instantiator/model_instantiator/api/uninstantiate.py
  shared/core/client/model_instantiator.py
  shared/core/routes/model_instantiator.py
Due: black, flake8, isort, pylint

(hotfix) Fix forgotten routes
  model-instantiator/model_instantiator/api/routes.py
  shared/core/client/model_instantiator.py
Due: black, flake8, isort, pylint

(update) Stop using Vertex model versioning
  shared/core/google/vertex_ai_manager.py
Due: black, flake8, isort, pylint

(fix) Fix people counting cloud job arguments
  people-counting/people_counting/jobs/count_people.py
Due: black, flake8, isort, pylint

(config) Update multiple poetry lock
  functional-object-detection/poetry.lock
  functional-people-counting/poetry.lock
  model-instantiator/poetry.lock
  object-detection/poetry.lock
  people-counting/poetry.lock
Due: none

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$, but not: ^migrations/
  isort: any of: \.py$
  toml-sort: any of: pyproject.toml
  pylint: any of: \.py$, but not: ^migrations/
  terraform fmt: any of: \.(tf|tfvars)$
