Repository neuronest/neuronest: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, pylint, isort, toml-sort

black:
  name: black
  entry: black
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system
  args:
  - --config=.flake8

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --rcfile=.pylintrc
  - -j 0
  - --reports=n

isort:
  name: isort
  entry: isort
  language: system
  args:
  - --profile=black

toml-sort:
  name: toml-sort
  entry: toml-sort
  language: system
  args:
  - --in-place
  - -a

(feat) wip
  .github/actions/run_terraform/action.yaml
  .github/workflows/people_counting_functional.yaml
Due: none

(feat) wip
  .github/workflows/people_counting_functional.yaml
Due: none

(feat) wip, try single quotes
  .github/workflows/people_counting_functional.yaml
Due: none

(feat) wip, try single quotes
  .github/actions/initialize_terraform/action.yaml
  .github/actions/run_terraform/action.yaml
  .github/workflows/people_counting_functional.yaml
Due: none

(feat) wip, try single quotes
  .github/actions/run_terraform/action.yaml
Due: none

(feat) wip, try single quotes
  .github/actions/run_terraform/action.yaml
  .github/functions/functions.sh
Due: none

(feat) wip, try single quotes
  .github/actions/get_terraform_output/action.yaml
  .github/actions/initialize_terraform/action.yaml
  .github/actions/run_terraform/action.yaml
  .github/functions/initialize_terraform.sh
Due: none

(feat) wip, try single quotes
  .github/actions/run_terraform/action.yaml
  .github/workflows/people_counting_functional.yaml
Due: none

(feat) wip, try single quotes
  .github/actions/get_terraform_output/action.yaml
Due: none

(feat) wip, try single quotes
  .github/actions/run_terraform/action.yaml
  .github/workflows/object_detection.yaml
Due: none

(feat) wip
  .github/workflows/people_counting_functional.yaml
  object-detection/config.yaml
  people-counting/people_counting/api/dependencies.py
  people-counting/people_counting/api/people_counter.py
  people-counting/people_counting/api/routes.py
  people-counting/people_counting/dependencies.py
  shared/core/google/vertex_ai_manager.py
  shared/core/routes/people_counting.py
  shared/core/schemas/model_instantiator.py
Due: black, flake8, pylint, isort

(feat) wip
  shared/core/google/vertex_ai_manager.py
Due: black, flake8, pylint, isort

(feat) wip
  people-counting/people_counting/api/people_counter.py
  people-counting/people_counting/api/routes.py
  shared/core/routes/base.py
  shared/core/routes/people_counting.py
Due: black, flake8, pylint, isort

(feat) wip
  .github/actions/build_test_push/action.yaml
  .github/actions/build_test_push_deploy/action.yaml
  .github/actions/run_base_terraform/action.yaml
  .github/actions/set_variables/action.yaml
  .github/actions/set_variables/create_env_file.py
  .github/workflows/model_instantiator.yaml
  .github/workflows/object_detection.yaml
  .github/workflows/people_counting.yaml
  .github/workflows/people_counting_functional.yaml
Due: black, flake8, pylint, isort

(feat) wip
  .github/workflows/model_instantiator.yaml
  .github/workflows/object_detection.yaml
  .github/workflows/people_counting.yaml
  .github/workflows/people_counting_functional.yaml
  object-detection/tests/integration_tests/test_endpoint.py
  shared/iac/modules/services/people-counting/iam.tf
Due: black, flake8, pylint, isort

(feat) wip
  .github/variables/static_variables.env
Due: none

(feat) wip
  .github/actions/run_terraform/action.yaml
  .github/variables/static_variables.env
Due: none

(feat) wip
  .github/actions/run_terraform/action.yaml
Due: none

(fix) wip
  .github/actions/initialize_job/action.yaml
  .github/actions/run_terraform/action.yaml
  .github/actions/set_variables/action.yaml
  .github/workflows/core.yaml
  .github/workflows/model_instantiator.yaml
  .github/workflows/object_detection.yaml
  .github/workflows/people_counting.yaml
  .github/workflows/people_counting_functional.yaml
  .github/workflows/run_base_terraform.yaml
  object-detection/tests/integration_tests/test_endpoint.py
  people-counting/people_counting/api/people_counter.py
  people-counting/people_counting/video_handler.py
  people-counting/poetry.lock
  people-counting/pyproject.toml
  shared/core/tools.py
  shared/iac/modules/services/model-instantiator/registry.tf
  shared/iac/modules/services/object-detection/registry.tf
  shared/iac/modules/services/people-counting/iam.tf
  shared/iac/modules/services/people-counting/registry.tf
Due: black, flake8, pylint, isort, toml-sort

(fix) wip
  shared/core/tools.py
Due: black, flake8, pylint, isort

(fix) wip
  .github/actions/set_variables_gcloud_auth/action.yaml
  .github/workflows/core.yaml
  .github/workflows/model_instantiator.yaml
  .github/workflows/object_detection.yaml
  .github/workflows/people_counting.yaml
  .github/workflows/people_counting_functional.yaml
  .github/workflows/run_base_terraform.yaml
Due: none

(fix) wip
  .github/workflows/people_counting_functional.yaml
Due: none

(fix) wip
  .github/actions/set_variables/action.yaml
  .github/workflows/core.yaml
  .github/workflows/model_instantiator.yaml
  .github/workflows/object_detection.yaml
  .github/workflows/people_counting.yaml
  .github/workflows/people_counting_functional.yaml
  .github/workflows/run_base_terraform.yaml
Due: none

(fix) wip
  .github/actions/set_variables_gcloud_auth/action.yaml
Due: none

(fix) wip
  .github/workflows/model_instantiator.yaml
  .github/workflows/object_detection.yaml
  .github/workflows/people_counting.yaml
  .github/workflows/people_counting_functional.yaml
  .github/workflows/run_base_terraform.yaml
Due: none

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$, but not: ^migrations/
  pylint: any of: \.py$, but not: ^migrations/
  isort: any of: \.py$
  toml-sort: any of: pyproject.toml
