Repository neuronest/neuronest: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, toml-sort, pylint, terraform fmt

black:
  name: black
  entry: black
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system
  args:
  - --config=.flake8

isort:
  name: isort
  entry: isort
  language: system
  args:
  - --profile=black
  - --resolve-all-configs

toml-sort:
  name: toml-sort
  entry: toml-sort
  language: system
  args:
  - --in-place
  - -a

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --rcfile=.pylintrc
  - -j 0
  - --reports=n

terraform fmt:
  name: terraform fmt
  entry: terraform fmt
  language: system

(feat) wip
  .github/workflows/customer_dummy_project.yaml
Due: none

(feat) wip
  .github/actions/build_test_push/action.yaml
  .github/actions/run_linters_tests/action.yaml
  .github/workflows/model_instantiator.yaml
  .github/workflows/object_detection.yaml
  .github/workflows/object_detection_functional.yaml
  .github/workflows/people_counting.yaml
  .github/workflows/people_counting_functional.yaml
  people-counting-functional/iac/outputs.tf
  people-counting-functional/poetry.lock
  people-counting-functional/pyproject.toml
  people-counting-functional/tests/__init__.py
  people-counting-functional/tests/integration_tests/__init__.py
  people-counting-functional/tests/integration_tests/conftest.py
  people-counting-functional/tests/integration_tests/test_cloud_run.py
  people-counting/people_counting/api/dependencies.py
  people-counting/people_counting/api/main.py
  people-counting/people_counting/api/people_counter.py
  shared/core/auth.py
  shared/core/client/base.py
  shared/core/client/people_counting.py
  shared/core/google/storage_client.py
  shared/core/path.py
  shared/core/routes/people_counting.py
  shared/iac/modules/services/people-counting-functional/outputs.tf
  shared/iac/modules/services/people-counting/outputs.tf
Due: black, flake8, isort, toml-sort, pylint, terraform fmt

(feat) wip
  .github/workflows/model_instantiator.yaml
  .github/workflows/object_detection.yaml
  .github/workflows/people_counting.yaml
Due: none

(feat) wip
  .github/workflows/object_detection.yaml
  .github/workflows/people_counting.yaml
Due: none

(feat) wip
  .github/workflows/people_counting_functional.yaml
Due: none

(feat) wip
  .github/workflows/object_detection_functional.yaml
  .github/workflows/people_counting_functional.yaml
Due: none

(feat) wip
  .github/workflows/customer_dummy_project.yaml
  .github/workflows/people_counting_functional.yaml
Due: none

(feat) wip
  .github/actions/run_linters_tests/action.yaml
Due: none

(feat) wip
  .github/actions/run_linters_tests/action.yaml
  .github/workflows/people_counting_functional.yaml
Due: none

(feat) wip
  .github/workflows/people_counting_functional.yaml
  people-counting-functional/iac/outputs.tf
  shared/core/auth.py
Due: black, flake8, isort, pylint, terraform fmt

(feat) wip
  .github/actions/get_terraform_output/action.yaml
  .github/workflows/people_counting_functional.yaml
Due: none

(feat) wip
  object-detection/Dockerfile
  shared/core/google/vertex_ai_manager.py
Due: black, flake8, isort, pylint

(feat) wip
  .github/actions/build_test_push/action.yaml
Due: none

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$, but not: ^migrations/
  isort: any of: \.py$
  toml-sort: any of: pyproject.toml
  pylint: any of: \.py$, but not: ^migrations/
  terraform fmt: any of: \.(tf|tfvars)$
