Repository neuronest/neuronest: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, pylint, isort, toml-sort

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: black
    name: black
    entry: black
    language: system
    types: [python]
  - id: flake8
    name: flake8
    entry: flake8
    language: system
    types: [python]
    exclude: ^migrations/
    args:
      - --config=.flake8
  - id: pylint
    name: pylint
    entry: pylint
    language: system
    types: [python]
    exclude: ^migrations/
    args:
      - --rcfile=.pylintrc
      - -j 0
      - --reports=n
  - id: isort
    name: isort
    entry: isort
    language: system
    types: [python]
    args:
      - --profile=black

  - id: toml-sort
    name: toml-sort
    entry: toml-sort
    language: system
    files: pyproject.toml
    args:
      - --in-place
      - -a
  - id: check message header
    name: check message header
    minimum_pre_commit_version: 2.15.0
    entry: python pre-commit-scripts/check_message.py
    language: python
    verbose: true
    stages: [commit-msg]

(feat) [model-instantiator, shared] Handle Cloud Run Jobs executions
  model-instantiator/model_instantiator/api/instantiate.py
  shared/core/google/cloud_run_job_manager.py
  shared/core/schemas/google/cloud_run.py
  shared/poetry.lock
  shared/pyproject.toml
Due: black, flake8, pylint, isort, toml-sort

(ci) [model-instantiator] Update CI
  .github/workflows/model_instantiator.yaml
Due: none

(config) [model-instantiator] Update poetry.lock
  model-instantiator/poetry.lock
Due: none

(update) [model-instantiator] Add model_name parameter
  model-instantiator/model_instantiator/api/instantiate.py
Due: black, flake8, pylint, isort

(update) [model-instantiator] Move GOOGLE_APPLICATION_CREDENTIALS environment variable
  .github/workflows/model_instantiator.yaml
  model-instantiator/model_instantiator/api/instantiate.py
Due: black, flake8, pylint, isort

(update) [model-instantiator, shared] Update deploy model job
  .github/workflows/model_instantiator.yaml
  model-instantiator/model_instantiator/api/instantiate.py
  model-instantiator/model_instantiator/environment_variables.py
  model-instantiator/model_instantiator/jobs/deploy_model.py
  shared/core/google/cloud_run_job_manager.py
Due: black, flake8, pylint, isort

(fix) [model-instantiator] Add missing environment variables module
  model-instantiator/model_instantiator/jobs/environment_variables.py
Due: black, flake8, pylint, isort

(update) [model-instantiator] Update uninstantiate route
  .github/workflows/model_instantiator.yaml
  model-instantiator/model_instantiator/api/uninstantiate.py
Due: black, flake8, pylint, isort

(feat) [model-instantiator, shared] Use Cloud Run Job instead of a background task to instantiate a Vertex endpoint (#8)
  .github/workflows/model_instantiator.yaml
  model-instantiator/conf/config.yaml
  model-instantiator/model_instantiator/api/dependencies.py
  model-instantiator/model_instantiator/api/instantiate.py
  model-instantiator/model_instantiator/api/uninstantiate.py
  model-instantiator/model_instantiator/environment_variables.py
  model-instantiator/model_instantiator/jobs/__init__.py
  model-instantiator/model_instantiator/jobs/deploy_model.py
  model-instantiator/model_instantiator/jobs/environment_variables.py
  model-instantiator/poetry.lock
  shared/core/auth.py
  shared/core/google/cloud_run_job_manager.py
  shared/core/schemas/google/__init__.py
  shared/core/schemas/google/cloud_run.py
  shared/core/schemas/model_instantiator.py
  shared/core/serialization/protobuf.py
  shared/poetry.lock
  shared/pyproject.toml
Due: black, flake8, pylint, isort, toml-sort

(refactor) Rearrange to make the code more like that of the instantiator api
  people-counting/Dockerfile
  people-counting/api/config.py
  people-counting/api/crud/__init__.py
  people-counting/api/crud/counter.py
  people-counting/api/model/__init__.py
  people-counting/api/model/result.py
  people-counting/api/model/video_message.py
  people-counting/api/route/__init__.py
  people-counting/api/route/counter.py
  people-counting/config/config_api.yaml
  people-counting/people_counting/api/__init__.py
  people-counting/people_counting/api/dependencies.py
  people-counting/people_counting/api/main.py
  people-counting/people_counting/api/routers/__init__.py
  people-counting/people_counting/api/routers/people_counter.py
  people-counting/people_counting/benchmark.py
  people-counting/people_counting/common.py
  people-counting/people_counting/config.py
  people-counting/people_counting/dependencies.py
  people-counting/people_counting/download_dataset.py
  people-counting/people_counting/environ.py
  people-counting/people_counting/people_counter.py
  people-counting/people_counting/run.py
  shared/core/schemas/people_counting.py
Due: black, flake8, pylint, isort

(clean) Apply pre commits
  people-counting/people_counting/api/main.py
  people-counting/people_counting/api/routers/people_counter.py
  shared/core/client/model_instantiator.py
  shared/core/schemas/people_counting.py
Due: black, flake8, pylint, isort

(update) Regenerate lock file
  people-counting/poetry.lock
Due: none

(fix) Fix pylint import error
  people-counting/people_counting/common.py
Due: black, flake8, pylint, isort

(refactor) Name the routes from the config
  .pre-commit-config.yaml
  people-counting/config/config.yaml
  people-counting/people_counting/api/main.py
  people-counting/people_counting/api/routers/people_counter.py
Due: black, flake8, pylint, isort

(ci) Make the people counting worflow triggerable manually
  .github/workflows/people_counting.yaml
Due: none

(update) [shared] Migrate from container registry to artifact registry
  .github/variables/dynamic_variables.env
Due: none

(ci) [people-counting] Add workflow dispatch trigger
  .github/workflows/people_counting.yaml
Due: none

(ci) [shared] Add repository_region as parameter in build_test_push action
  .github/actions/build_test_push/action.yaml
  .github/workflows/model_instantiator.yaml
  .github/workflows/object_detection.yaml
  .github/workflows/people_counting.yaml
Due: none

(feat) [people-counting, shared] Add first version of people counting with object detection client (#7)
  .pre-commit-config.yaml
  people-counting/Dockerfile
  people-counting/api/config.py
  people-counting/api/crud/__init__.py
  people-counting/api/crud/counter.py
  people-counting/api/model/__init__.py
  people-counting/api/model/result.py
  people-counting/api/model/video_message.py
  people-counting/api/route/__init__.py
  people-counting/api/route/counter.py
  people-counting/config/config.yaml
  people-counting/config/config_api.yaml
  people-counting/people_counting/api/__init__.py
  people-counting/people_counting/api/dependencies.py
  people-counting/people_counting/api/main.py
  people-counting/people_counting/api/routers/__init__.py
  people-counting/people_counting/api/routers/people_counter.py
  people-counting/people_counting/benchmark.py
  people-counting/people_counting/common.py
  people-counting/people_counting/config.py
  people-counting/people_counting/dependencies.py
  people-counting/people_counting/download_dataset.py
  people-counting/people_counting/environ.py
  people-counting/people_counting/model.py
  people-counting/people_counting/people_counter.py
  people-counting/people_counting/run.py
  people-counting/poetry.lock
  shared/core/client/model_instantiator.py
  shared/core/client/object_detection.py
  shared/core/schemas/people_counting.py
Due: black, flake8, pylint, isort

(ci) [shared] Fix typo
  .github/actions/build_test_push/action.yaml
Due: none

(ci) [shared] Add docker registry cleaning action
  .github/actions/build_test_push/action.yaml
Due: none

(update) [model-instantiator, shared] Centralize API routes definitions
  .github/workflows/object_detection.yaml
  model-instantiator/conf/config.yaml
  model-instantiator/model_instantiator/api/instantiate.py
  model-instantiator/model_instantiator/api/routes.py
  model-instantiator/model_instantiator/api/uninstantiate.py
  shared/core/client/base.py
  shared/core/client/model_instantiator.py
  shared/core/routes/__init__.py
  shared/core/routes/base.py
  shared/core/routes/model_instantiator.py
Due: black, flake8, pylint, isort

(fix) [model-instantiator] Fix wrong used variable
  model-instantiator/model_instantiator/api/uninstantiate.py
Due: black, flake8, pylint, isort

(config) [object-detection] Change NVIDIA_TESLA_K80 to NVIDIA_TESLA_T4
  object-detection/config.yaml
Due: none

(feat) [shared, object-detection] Implement chunked batched predictions in object_detection client
  object-detection/tests/integration_tests/test_endpoint.py
  shared/core/client/object_detection.py
  shared/poetry.lock
  shared/pyproject.toml
Due: black, flake8, pylint, isort, toml-sort

(ci) [shared] Fix docker images cleaning
  .github/actions/build_test_push/action.yaml
Due: none

(update) [people-counting] Update people counting structure and iac
  .github/actions/set_up_terraform/action.yaml
  .github/actions/set_variables/action.yaml
  .github/variables/static_variables.env
  .github/workflows/people_counting.yaml
  people-counting/config/config.yaml
  people-counting/iac/.terraform.lock.hcl
  people-counting/iac/dynamic_variables.env
  people-counting/iac/main.tf
  people-counting/iac/modules/services/people-counting/apis.tf
  people-counting/iac/modules/services/people-counting/buckets.tf
  people-counting/iac/modules/services/people-counting/cloud-run.tf
  people-counting/iac/modules/services/people-counting/firestore.tf
  people-counting/iac/modules/services/people-counting/iam.tf
  people-counting/iac/modules/services/people-counting/registry.tf
  people-counting/iac/modules/services/people-counting/service-accounts.tf
  people-counting/iac/modules/services/people-counting/variables.tf
  people-counting/iac/static_variables.env
  people-counting/iac/tfplan
  people-counting/iac/variables.tf
  people-counting/people_counting/api/dependencies.py
  people-counting/people_counting/api/main.py
  people-counting/people_counting/api/routers/people_counter.py
  people-counting/people_counting/centroid_tracker.py
  people-counting/people_counting/dependencies.py
  people-counting/people_counting/download_dataset.py
  people-counting/people_counting/environment_variables.py
  people-counting/people_counting/model.py
  people-counting/people_counting/people_counter.py
  people-counting/people_counting/video_handler.py
  people-counting/pyproject.toml
Due: black, flake8, pylint, isort, toml-sort

(fix) [shared] Fix set variables action
  .github/actions/set_variables/action.yaml
Due: none

(fix) [shared, people-counting] Update variables
  .github/variables/dynamic_variables.env
  .github/variables/static_variables.env
  people-counting/iac/dynamic_variables.env
  people-counting/iac/static_variables.env
Due: none

(fix) [people-counting] Fix direction count in benchmark
  people-counting/people_counting/benchmark.py
Due: black, flake8, pylint, isort

(fix) [people-counting] Fix state bucket creation
  .github/variables/dynamic_variables.env
  .github/workflows/people_counting.yaml
  people-counting/iac/dynamic_variables.env
  people-counting/iac/main.tf
Due: none

(fix) [people-counting] Fix state bucket creation
  .github/workflows/people_counting.yaml
Due: none

(update) [people-counting, shared] Update routes and API structure
  people-counting/people_counting/api/main.py
  people-counting/people_counting/api/people_counter.py
  people-counting/people_counting/api/routers/__init__.py
  people-counting/people_counting/api/routes.py
  shared/core/routes/people_counting.py
Due: black, flake8, pylint, isort

(update) [people-counting] Update firestore iac location
  .github/variables/static_variables.env
  people-counting/config/config.yaml
  people-counting/iac/main.tf
  people-counting/iac/modules/services/people-counting/firestore.tf
  people-counting/iac/modules/services/people-counting/variables.tf
  people-counting/iac/variables.tf
Due: none

(update) [people-counting] Update people counting structure and iac (#9)
  .github/actions/set_up_terraform/action.yaml
  .github/actions/set_variables/action.yaml
  .github/variables/dynamic_variables.env
  .github/variables/static_variables.env
  .github/workflows/people_counting.yaml
  people-counting/config/config.yaml
  people-counting/iac/.terraform.lock.hcl
  people-counting/iac/dynamic_variables.env
  people-counting/iac/main.tf
  people-counting/iac/modules/services/people-counting/apis.tf
  people-counting/iac/modules/services/people-counting/buckets.tf
  people-counting/iac/modules/services/people-counting/cloud-run.tf
  people-counting/iac/modules/services/people-counting/firestore.tf
  people-counting/iac/modules/services/people-counting/iam.tf
  people-counting/iac/modules/services/people-counting/registry.tf
  people-counting/iac/modules/services/people-counting/service-accounts.tf
  people-counting/iac/modules/services/people-counting/variables.tf
  people-counting/iac/static_variables.env
  people-counting/iac/tfplan
  people-counting/iac/variables.tf
  people-counting/people_counting/api/dependencies.py
  people-counting/people_counting/api/main.py
  people-counting/people_counting/api/people_counter.py
  people-counting/people_counting/api/routers/__init__.py
  people-counting/people_counting/api/routes.py
  people-counting/people_counting/benchmark.py
  people-counting/people_counting/centroid_tracker.py
  people-counting/people_counting/dependencies.py
  people-counting/people_counting/download_dataset.py
  people-counting/people_counting/environment_variables.py
  people-counting/people_counting/model.py
  people-counting/people_counting/people_counter.py
  people-counting/people_counting/video_handler.py
  people-counting/pyproject.toml
  shared/core/routes/people_counting.py
Due: black, flake8, pylint, isort, toml-sort

(clean) [people-counting] Remove terraform files
  people-counting/iac/.terraform.lock.hcl
  people-counting/iac/tfplan
Due: none

(ci) [people-counting, shared] Add billing_account variable
  .github/variables/static_variables.env
  people-counting/iac/main.tf
  people-counting/iac/variables.tf
Due: none

(ci) [shared] Remove DOCKERHUB_USERNAME variable, use DOCKERHUB_LOGIN instead
  .github/variables/static_variables.env
  .github/workflows/model_instantiator.yaml
  .github/workflows/object_detection.yaml
Due: none

(ci) [shared] Rename NEURONEST_INFRASTRUCTURE_BUILDER to NEURONEST_INFRASTRUCTURE_BUILDER_SERVICE_ACCOUNT
  .github/workflows/people_counting.yaml
Due: none

(ci) [people-counting] Ensure auth is used for cloud run
  people-counting/iac/modules/services/people-counting/cloud-run.tf
Due: none
