Repository neuronest/neuronest: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, pylint, isort, toml-sort

black:
  name: black
  entry: black
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system
  args:
  - --config=.flake8

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --rcfile=.pylintrc
  - -j 0
  - --reports=n

isort:
  name: isort
  entry: isort
  language: system
  args:
  - --profile=black

toml-sort:
  name: toml-sort
  entry: toml-sort
  language: system
  args:
  - --in-place
  - -a

(ci) [model-instantiator] Add DockerHub as image caching to avoid egress costs
  .github/actions/build_test_push/action.yaml
  .github/variables/variables.env
  .github/workflows/model_instantiator.yaml
  .github/workflows/object_detection.yaml
  pre-commit-scripts/check_message.py
Due: black, flake8, pylint, isort

(update) [people-counting] Try to integrate new custom github actions
  .github/actions/set_up_terraform/action.yaml
  .github/workflows/people_counting.yaml
  .pre-commit-config.yaml
  people-counting/api/model/result.py
  people-counting/people_counting/benchmark.py
  people-counting/people_counting/centroid_tracker.py
  people-counting/people_counting/download_dataset.py
  people-counting/people_counting/video_handler.py
  people-counting/poetry.lock
  people-counting/pyproject.toml
  shared/poetry.lock
  shared/pyproject.toml
Due: black, flake8, pylint, isort, toml-sort

(update) [people-counting] Try to integrate new custom github actions
  .github/workflows/people_counting.yaml
Due: none

(update) [people-counting] Try to integrate new custom github actions (#4)
  .github/actions/set_up_terraform/action.yaml
  .github/workflows/people_counting.yaml
  .pre-commit-config.yaml
  people-counting/api/model/result.py
  people-counting/people_counting/benchmark.py
  people-counting/people_counting/centroid_tracker.py
  people-counting/people_counting/download_dataset.py
  people-counting/people_counting/video_handler.py
  people-counting/poetry.lock
  people-counting/pyproject.toml
  shared/poetry.lock
  shared/pyproject.toml
Due: black, flake8, pylint, isort, toml-sort

(ci) [shared] Set back shared known_first_party field and isort configuration
  .pre-commit-config.yaml
  shared/pyproject.toml
Due: toml-sort

(ci) [model-instantiator] Modify GCP image registry usage
  .github/actions/build_test_push/action.yaml
  .github/variables/variables.env
  .github/workflows/model_instantiator.yaml
Due: none

(update) [shared] Migrate from artifact registry to container registry
  .github/variables/variables.env
  shared/core/schemas/image_name.py
  shared/tests/test_schemas/test_image_name.py
Due: black, flake8, pylint, isort

(ci) [model-instantiator] Update CI triggers
  .github/workflows/model_instantiator.yaml
Due: none

(refactor) [model-instantiator, object-detection, shared] Move tests into unit_tests and integration_tests directories
  .gitignore
  model-instantiator/__init__.py
  model-instantiator/tests/unit_tests/__init__.py
  model-instantiator/tests/unit_tests/test_dummy.py
  object-detection/tests/integration_tests/__init__.py
  object-detection/tests/integration_tests/test_endpoint.py
  object-detection/tests/unit_tests/__init__.py
  shared/tests/unit_tests/__init__.py
  shared/tests/unit_tests/test_schemas/__init__.py
  shared/tests/unit_tests/test_schemas/test_image_name.py
  shared/tests/unit_tests/test_serialization/__init__.py
  shared/tests/unit_tests/test_serialization/test_array.py
  shared/tests/unit_tests/test_serialization/test_image.py
Due: black, flake8, pylint, isort

(update) [shared] Update linters tests
  .github/actions/run_linters_tests/action.yaml
Due: none

(update) [model-instantiator] Update Dockerfile
  .github/workflows/model_instantiator.yaml
  model-instantiator/Dockerfile
Due: none

(update) [object-detection] Update CI and Dockerfile
  .github/workflows/object_detection.yaml
  object-detection/Dockerfile
  object-detection/pyproject.toml
Due: toml-sort

(fix) [object-detection] Fix CI
  .github/actions/run_linters_tests/action.yaml
  .github/variables/variables.env
  .github/workflows/model_instantiator.yaml
  .github/workflows/object_detection.yaml
  object-detection/Dockerfile
  object-detection/poetry.lock
  object-detection/tests/unit_tests/test_dummy.py
Due: black, flake8, pylint, isort

(wip) Wip
  .github/workflows/model_instantiator.yaml
Due: none

(wip) Wip
  .github/workflows/model_instantiator.yaml
  .github/workflows/object_detection.yaml
Due: none

(update) Try to fix authentication with gsutil
  .github/workflows/object_detection.yaml
Due: none

(fix) [object-detection] Fix CI
  .github/actions/gcloud_auth/action.yaml
  .github/actions/run_linters_tests/action.yaml
  .github/variables/variables.env
  .github/workflows/model_instantiator.yaml
  .github/workflows/object_detection.yaml
  object-detection/Dockerfile
  object-detection/poetry.lock
  object-detection/tests/unit_tests/test_dummy.py
Due: black, flake8, pylint, isort

(fix) [shared] Except RuntimeError coming from google cloud package
  shared/core/google/vertex_ai_manager.py
Due: black, flake8, pylint, isort

(ci) [object-detection] Fix CI and update Dockerfile
  .github/workflows/object_detection.yaml
  object-detection/Dockerfile
Due: none

(update) Set up terraform variables at the same place as normal variables
  .github/actions/set_variables/action.yaml
  .github/workflows/people_counting.yaml
Due: none

(update) Separate variables between statics ones and dynamic ones
  .github/workflows/people_counting.yaml
Due: none

(update) Remove useless variables to people-counting terraform module
  .github/actions/set_variables/action.yaml
  people-counting/iac/main.tf
  people-counting/iac/modules/services/people-counting/variables.tf
Due: none

(update) Lowercase terraform variables
  .github/actions/set_variables/action.yaml
  .github/workflows/people_counting.yaml
  people-counting/iac/dynamic_variables.env
  people-counting/iac/static_variables.env
Due: none

(update) Separate variables between statics ones and dynamic ones
  .github/actions/set_variables/action.yaml
  .github/workflows/people_counting.yaml
Due: none

(update) Separate variables between statics ones and dynamic ones
  .github/actions/set_variables/action.yaml
  .github/variables/dynamic_variables.env
  .github/variables/static_variables.env
  .github/workflows/people_counting.yaml
  people-counting/iac/dynamic_variables.env
  people-counting/iac/static_variables.env
Due: none

(wip) Wip
  .github/actions/run_linters_tests/action.yaml
Due: none

(update) Push to dockerhub everytime build succeeds to have the cache
  .github/actions/build_test_push/action.yaml
  .github/workflows/people_counting.yaml
Due: none

(wip) Wip
  .github/actions/build_test_push/action.yaml
Due: none

(update) Try to fix linters tests
  people-counting/poetry.lock
  people-counting/pyproject.toml
Due: toml-sort

(update) Change syntax so black and isort agree
  people-counting/api/main.py
Due: black, flake8, pylint, isort

(update) Separate variables between statics ones and dynamic ones
  .github/actions/build_test_push/action.yaml
  .github/variables/dynamic_variables.env
  .github/workflows/people_counting.yaml
Due: none

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$, but not: ^migrations/
  pylint: any of: \.py$, but not: ^migrations/
  isort: any of: \.py$
  toml-sort: any of: pyproject.toml
