Repository neuronest/neuronest: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, toml-sort, pylint, terraform fmt

.pre-commit-config.yaml:

fail_fast: true
repos:
- repo: local
  hooks:
  - id: black
    name: black
    entry: black
    language: system
    types: [python]
  - id: flake8
    name: flake8
    entry: flake8
    language: system
    types: [python]
    exclude: ^migrations/
    args:
      - --config=.flake8
  - id: isort
    name: isort
    entry: isort
    language: system
    types: [python]
    args:
      - --profile=black
      - --resolve-all-configs
  - id: toml-sort
    name: toml-sort
    entry: toml-sort
    language: system
    files: pyproject.toml
    args:
      - --in-place
      - -a
  - id: check message header
    name: check message header
    minimum_pre_commit_version: 2.15.0
    entry: python pre-commit-scripts/check_message.py
    language: python
    verbose: true
    stages: [commit-msg]
  - id: pylint
    name: pylint
    entry: pylint
    language: system
    types: [python]
    exclude: ^migrations/
    args:
      - --rcfile=.pylintrc
      - -j 0
      - --reports=n
  - id: terraform fmt
    name: terraform fmt
    entry: terraform fmt
    language: system
    types:
      - terraform

(fix) Load the custom code before loading the model
  object-detection/Dockerfile
  object-detection/object_detection/modules/model.py
Due: black, flake8, isort, pylint

(clean) Remove comments
  object-detection/Dockerfile
Due: none

(fix) fix model name, serving image, docker image names
  .github/workflows/object_detection_functional.yaml
  model-instantiator/iac/variables.yaml
  object-detection/Dockerfile
  object-detection/iac/variables.yaml
  object-detection/object_detection/model_handler.py
  object-detection/object_detection/modules/model.py
  people-counting/iac/variables.yaml
  shared/core/packages/abstract/online_prediction_model/config.py
  shared/core/packages/abstract/online_prediction_model/model_handler.py
  shared/core/packages/abstract/online_prediction_model/modules/model.py
  video-comparator/iac/variables.yaml
Due: black, flake8, isort, pylint

(fix) Manage the prefix of the MODEL_NAME variable from the abstract workflow
  .github/actions/set_variables/action.yaml
  .github/actions/set_variables/create_env_file.py
  .github/workflows/abstract_online_prediction_model_functional.yaml
Due: black, flake8, isort, pylint

(fix) Manage the prefix of the MODEL_NAME variable from the abstract workflow
  .github/actions/set_variables/create_env_file.py
  .github/workflows/abstract_online_prediction_model_functional.yaml
  object-detection/iac/variables.yaml
Due: black, flake8, isort, pylint

(refactor) Replace the definition of object detection_functional.yaml with a call to the functional workflow
  .github/workflows/object_detection_functional.yaml
  .github/workflows/video_comparator_dummy_project.yaml
Due: none

(update) pass only variables from object detection functional to object_detection_functional.yaml
  .github/workflows/object_detection_functional.yaml
  .github/workflows/video_comparator_dummy_project.yaml
Due: none

(update) pass only variables from object detection functional to object_detection_functional.yaml
  .github/workflows/object_detection_functional.yaml
Due: none

(update) pass only variables from object detection functional to object_detection_functional.yaml
  .github/workflows/video_comparator_dummy_project.yaml
Due: none

(fix) Move BASE_IMAGE_NAME variable in multi_instance_resource_names to avoid collisions
  model-instantiator/iac/variables.yaml
  object-detection/iac/variables.yaml
  people-counting/iac/variables.yaml
Due: none

(fix) Use sha256 digest of the image as tag instead of github_run_id to avoid collisions
  .github/actions/build_test_push/action.yaml
  shared/core/schemas/image_name.py
Due: black, flake8, isort, pylint

(clean) Add typing in create_env_file module
  .github/actions/set_variables/create_env_file.py
Due: black, flake8, isort, pylint

(wip) Debug the workflow
  .github/workflows/customer_dummy_project.yaml
  .github/workflows/functional_object_detection.yaml
Due: none

(wip) Debug the workflow
  .github/workflows/functional_object_detection.yaml
Due: none

(wip) Debug the workflow
  .github/workflows/functional_people_counting.yaml
Due: none

(wip) Debug the workflow
  .github/workflows/video_comparator_dummy_project.yaml
Due: none

(wip) Debug the workflow
  .github/workflows/abstract_online_prediction_model_functional.yaml
Due: none

(wip) Debug the workflow
  .github/workflows/abstract_online_prediction_model_functional.yaml
  .github/workflows/video_comparator_dummy_project.yaml
Due: none

(wip) Debug the workflow
  .github/workflows/object_detection_functional.yaml
  .github/workflows/video_comparator_dummy_project.yaml
Due: none

(wip) Debug the workflow
  .github/workflows/customer_dummy_project.yaml
  .github/workflows/people_counting_functional.yaml
Due: none

(wip) Debug the workflow
  .github/workflows/people_counting_functional.yaml
Due: none

(update) Pool the dockerfile of all online prediction model repositories
  .github/actions/build_test_push/action.yaml
  .github/workflows/abstract_online_prediction_model.yaml
  .github/workflows/abstract_online_prediction_model_functional.yaml
  shared/core/dockerfiles/abstract/online_prediction_model.Dockerfile
Due: none

(feat) Try to run ci for service video comparator
  .github/workflows/abstract_online_prediction_model.yaml
  .github/workflows/video_comparator_dummy_project.yaml
  .github/workflows/video_comparator_functional.yaml
  shared/core/packages/abstract/online_prediction_model/model_handler.py
  shared/core/path.py
  shared/core/schemas/abstract/online_prediction_model.py
  shared/core/schemas/object_detection.py
  shared/core/schemas/video_comparator.py
  shared/iac/modules/services/object-detection-functional/variables_video_comparator.tf
  shared/iac/modules/services/video-comparator-functional/modules.tf
  shared/iac/modules/services/video-comparator-functional/outputs.tf
  shared/iac/modules/services/video-comparator-functional/variables_model_instantiator.tf
  shared/iac/modules/services/video-comparator-functional/variables_shared.tf
  shared/iac/modules/services/video-comparator-functional/variables_video_comparator.tf
  video-comparator-functional/iac/variables.yaml
  video-comparator/iac/main.tf
  video-comparator/poetry.lock
  video-comparator/pyproject.toml
  video-comparator/scripts/compare_pair_of_videos.py
  video-comparator/video_comparator/cli.py
  video-comparator/video_comparator/config.py
  video-comparator/video_comparator/config.yaml
  video-comparator/video_comparator/evaluation.py
  video-comparator/video_comparator/model/similarities.py
  video-comparator/video_comparator/model_handler.py
  video-comparator/video_comparator/modules/__init__.py
  video-comparator/video_comparator/modules/model.py
  video-comparator/video_comparator/train.py
  video-comparator/video_comparator/utils.py
Due: black, flake8, isort, toml-sort, pylint, terraform fmt

(feat) Try to run ci for service video comparator
  .github/workflows/object_detection_functional.yaml
  .github/workflows/video_comparator_functional.yaml
Due: none

(feat) Try to run ci for service video comparator
  .github/workflows/video_comparator_dummy_project.yaml
Due: none

(fix) Remove the currently unused evaluation.py script
  .github/workflows/video_comparator_dummy_project.yaml
  video-comparator/scripts/compare_pair_of_videos.py
  video-comparator/video_comparator/calculate_similarity.py
  video-comparator/video_comparator/evaluation.py
  video-comparator/video_comparator/modules/model.py
  video-comparator/video_comparator/utils.py
Due: black, flake8, isort, pylint

(fix) Remove the currently unused evaluation.py script
  video-comparator/video_comparator/calculate_similarity.py
  video-comparator/video_comparator/generators.py
Due: black, flake8, isort, pylint

(fix) Return an empty string when looking in state for an output that isn't there
  .github/actions/get_terraform_output/action.yaml
  video-comparator-functional/iac/outputs.tf
Due: terraform fmt

(fix) Return an empty string when looking in state for an output that isn't there
  .github/actions/get_terraform_output/action.yaml
Due: none
