Repository neuronest/neuronest: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, toml-sort, pylint, terraform fmt

black:
  name: black
  entry: black
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system
  args:
  - --config=.flake8

isort:
  name: isort
  entry: isort
  language: system
  args:
  - --profile=black
  - --resolve-all-configs

toml-sort:
  name: toml-sort
  entry: toml-sort
  language: system
  args:
  - --in-place
  - -a

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --rcfile=.pylintrc
  - -j 0
  - --reports=n

terraform fmt:
  name: terraform fmt
  entry: terraform fmt
  language: system

(update) Update torch dependencies versions
  video-comparator/poetry.lock
  video-comparator/pyproject.toml
Due: toml-sort

(update) Add the model_instantiator_url in output of the video_comparator_functional
  .github/workflows/abstract_online_prediction_model_functional.yaml
  video-comparator-functional/iac/outputs.tf
Due: terraform fmt

(fix) Add nvgpu dependency
  video-comparator/Dockerfile
  video-comparator/poetry.lock
  video-comparator/pyproject.toml
  video-comparator/video_comparator/model_handler.py
Due: black, flake8, isort, toml-sort, pylint

(feat) Add first version of video-comparator client and integration test
  shared/core/client/abstract/__init__.py
  shared/core/client/abstract/online_prediction_model.py
  shared/core/client/api_client.py
  shared/core/client/base_client.py
  shared/core/client/model_instantiator.py
  shared/core/client/object_detection.py
  shared/core/client/people_counting.py
  shared/core/client/video_comparator.py
  shared/core/tools.py
  video-comparator-functional/tests/environment_variables.py
  video-comparator-functional/tests/integration_tests/conftest.py
  video-comparator-functional/tests/integration_tests/test_endpoint.py
Due: black, flake8, isort, pylint

(fix) Corrects the structure sent by the client to the service and the parsing of the structure received from the service in output
  object-detection/object_detection/model_handler.py
  shared/core/client/object_detection.py
  shared/core/client/video_comparator.py
  shared/core/packages/abstract/online_prediction_model/model_handler.py
  shared/core/schemas/abstract/online_prediction_model.py
  shared/core/schemas/object_detection.py
  shared/core/schemas/video_comparator.py
  video-comparator/video_comparator/model_handler.py
Due: black, flake8, isort, pylint

(fix) Use the correct project_id to upload the videos, use the correct service account at the deployed endpoint
  model-instantiator/iac/main.tf
  model-instantiator/iac/variables.tf
  object-detection/object_detection/config.yaml
  shared/core/google/storage_client.py
  shared/core/google/vertex_ai_manager.py
  shared/core/packages/abstract/online_prediction_model/config.py
  shared/core/packages/abstract/online_prediction_model/config.yaml
  shared/core/schemas/vertex_ai.py
  shared/iac/modules/abstract/online-prediction-model-functional/modules.tf
  shared/iac/modules/abstract/online-prediction-model/outputs.tf
  shared/iac/modules/services/model-instantiator/iam.tf
  shared/iac/modules/services/model-instantiator/variables.tf
  video-comparator-functional/tests/integration_tests/conftest.py
  video-comparator-functional/tests/integration_tests/test_endpoint.py
  video-comparator/config.yaml
  video-comparator/iac/variables.yaml
Due: black, flake8, isort, pylint, terraform fmt

(fix) Use the correct project_id to upload the videos, use the correct service account at the deployed endpoint
  shared/iac/modules/abstract/online-prediction-model/outputs.tf
Due: terraform fmt

(fix) Set the client storage to the same project_id as the vertex ai manager
  shared/core/packages/abstract/online_prediction_model/cli.py
  shared/core/packages/abstract/online_prediction_model/config.py
Due: black, flake8, isort, pylint

(fix) Use service account email, not just service account name
  object-detection/iac/variables.yaml
  object-detection/object_detection/config.yaml
  shared/core/packages/abstract/online_prediction_model/config.yaml
  shared/core/schemas/vertex_ai.py
  video-comparator/config.yaml
  video-comparator/iac/variables.yaml
  video-comparator/video_comparator/config.yaml
Due: black, flake8, isort, pylint

(fix) Remove the too long email from the labels, use the name and rebuild the email afterwards
  object-detection/iac/variables.yaml
  object-detection/object_detection/config.yaml
  shared/core/google/utils.py
  shared/core/google/vertex_ai_manager.py
  shared/core/packages/abstract/online_prediction_model/config.py
  shared/core/packages/abstract/online_prediction_model/config.yaml
  shared/core/schemas/vertex_ai.py
  video-comparator/iac/variables.yaml
  video-comparator/video_comparator/config.yaml
Due: black, flake8, isort, pylint

(update) Modify repository codes and introduce new project code environment variable
  .github/variables/variables.yaml
  customer-dummy-project/iac/variables.yaml
  functional-object-detection/iac/variables.yaml
  functional-people-counting/iac/variables.yaml
  model-instantiator/iac/variables.yaml
  object-detection/iac/variables.yaml
  people-counting/iac/variables.yaml
Due: none

(config) Update poetry configs and update install script
  people-counting/install.sh
  people-counting/poetry.lock
  people-counting/pyproject.toml
Due: toml-sort

(update) Refactor people counting api and use cloud run jobs
  people-counting/config/config.yaml
  people-counting/iac/variables.yaml
  people-counting/people_counting/api/dependencies.py
  people-counting/people_counting/api/people_counter.py
  people-counting/people_counting/benchmark.py
  people-counting/people_counting/common.py
  people-counting/people_counting/dependencies.py
  people-counting/people_counting/download_dataset.py
  people-counting/people_counting/environment_variables.py
  people-counting/people_counting/jobs/__init__.py
  people-counting/people_counting/jobs/count_people.py
  people-counting/people_counting/jobs/environment_variables.py
  people-counting/people_counting/model.py
  people-counting/people_counting/people_counter.py
  people-counting/people_counting/run.py
  people-counting/people_counting/video_handler.py
  people-counting/people_counting/video_renderer.py
  shared/core/client/object_detection.py
  shared/core/routes/people_counting.py
  shared/core/schemas/asset.py
  shared/core/schemas/people_counting.py
  shared/core/timing.py
  shared/core/tools.py
  shared/iac/modules/services/people-counting/cloud_run.tf
Due: black, flake8, isort, pylint, terraform fmt

(config) Update repository codes, remove functional prefix deletion
  .github/actions/set_variables/create_env_file.py
  customer-dummy-project/iac/variables.yaml
  functional-object-detection/iac/variables.yaml
  functional-people-counting/iac/variables.yaml
  model-instantiator/iac/variables.yaml
  object-detection/iac/variables.yaml
  people-counting/iac/variables.yaml
Due: black, flake8, isort, pylint

(config) Rename serving account name
  object-detection/iac/variables.yaml
Due: none

(update) Remove duplicated prefix possibility
  .github/actions/set_variables/create_env_file.py
Due: black, flake8, isort, pylint

(update) Allows similarity and video_features type predictions via the video comparator client
  shared/core/client/video_comparator.py
  video-comparator-functional/tests/integration_tests/test_endpoint.py
  video-comparator/video_comparator/model_handler.py
Due: black, flake8, isort, pylint

(fix) [people-counting] Fix cloud run job environment variable
  .pylintrc
  people-counting/people_counting/api/dependencies.py
  people-counting/people_counting/api/people_counter.py
  people-counting/people_counting/jobs/count_people.py
  people-counting/people_counting/jobs/environment_variables.py
  people-counting/people_counting/jobs/services.py
  shared/core/auth.py
  shared/core/client/base.py
  shared/core/client/model_instantiator.py
  shared/core/schemas/google/cloud_run.py
Due: black, flake8, isort, pylint

(fix) [people-counting] Make environment variable optional
  people-counting/people_counting/jobs/environment_variables.py
Due: black, flake8, isort, pylint

(fix) [people-counting] Fix model inference
  people-counting/people_counting/model.py
Due: black, flake8, isort, pylint

(fix) [people-counting] Fix variable type issue
  people-counting/people_counting/jobs/count_people.py
Due: black, flake8, isort, pylint

(fix) [people-counting] Ensure GSPath type over string
  people-counting/people_counting/jobs/count_people.py
Due: black, flake8, isort, pylint

(fix) [people-counting, shared] Fix fps and codec issues
  people-counting/people_counting/jobs/count_people.py
  people-counting/people_counting/people_counter.py
  people-counting/people_counting/video_renderer.py
  shared/core/schemas/asset.py
Due: black, flake8, isort, pylint

(fix) [people-counting] Add Cloud Run Admin role to people counting
  shared/iac/modules/services/people-counting/iam.tf
Due: terraform fmt

(fix) [people-counting] Add Service Account User role to people counting
  shared/iac/modules/services/model-instantiator/iam.tf
  shared/iac/modules/services/people-counting/iam.tf
Due: terraform fmt

(fix) [people-counting] Fix typo
  shared/iac/modules/services/people-counting/iam.tf
Due: terraform fmt

(fix) [people-counting] Fix job id and asset id inversion
  people-counting/people_counting/api/people_counter.py
Due: black, flake8, isort, pylint

(update) [people-counting] Add ffmpeg binary dependency to make h264 codec available
  people-counting/Dockerfile
Due: none

(clean) [model-instantiator] Clean variable name
  model-instantiator/iac/variables.yaml
Due: none

(update) [model-instantiator, people-counting] Standardize Dockerfiles
  model-instantiator/Dockerfile
  people-counting/Dockerfile
  people-counting/conf/config.yaml
Due: none

(update) [people-counting] Update pyproject, add gunicorn
  people-counting/pyproject.toml
Due: toml-sort

(update) [people-counting] Regenerate poetry lock
  people-counting/poetry.lock
Due: none

(update) [people-counting] Fix typo
  people-counting/people_counting/config.py
Due: black, flake8, isort, pylint

(update) [people-counting] Update codec
  people-counting/people_counting/video_renderer.py
Due: black, flake8, isort, pylint

(refactor) [people-counting] Rename video renderer method
  people-counting/people_counting/people_counter.py
  people-counting/people_counting/video_renderer.py
Due: black, flake8, isort, pylint

(refactor) [people-counting, shared] Rename AssetContent classes to Asset
  people-counting/people_counting/api/people_counter.py
  people-counting/people_counting/jobs/count_people.py
  people-counting/people_counting/people_counter.py
  shared/core/schemas/asset.py
  shared/core/services/asset_reader.py
Due: black, flake8, isort, pylint

(update) Allow similarity calculation from gs_path or directly from video features
  shared/core/client/video_comparator.py
  shared/core/packages/abstract/online_prediction_model/model_handler.py
  shared/core/path.py
  shared/core/schemas/video_comparator.py
  video-comparator-functional/tests/integration_tests/test_endpoint.py
  video-comparator/video_comparator/model_handler.py
  video-comparator/video_comparator/modules/model.py
Due: black, flake8, isort, pylint

(fix) Correct prefix functional errors following the merge of main into the branch
  .github/actions/set_variables/create_env_file.py
  .github/workflows/customer_dummy_project.yaml
  .github/workflows/functional_abstract_online_prediction_model.yaml
  .github/workflows/functional_object_detection.yaml
  .github/workflows/functional_people_counting.yaml
  .github/workflows/functional_video_comparator.yaml
  .github/workflows/video_comparator_dummy_project.yaml
  functional-video-comparator/iac/main.tf
  functional-video-comparator/iac/variables.yaml
  shared/iac/modules/services/functional-video-comparator/modules.tf
  shared/iac/modules/services/functional-video-comparator/outputs.tf
Due: black, flake8, isort, pylint, terraform fmt

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$, but not: ^migrations/
  isort: any of: \.py$
  toml-sort: any of: pyproject.toml
  pylint: any of: \.py$, but not: ^migrations/
  terraform fmt: any of: \.(tf|tfvars)$
