Repository neuronest/neuronest: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, toml-sort, pylint, terraform fmt

.pre-commit-config.yaml:

fail_fast: true
repos:
- repo: local
  hooks:
  - id: black
    name: black
    entry: black
    language: system
    types: [python]
  - id: flake8
    name: flake8
    entry: flake8
    language: system
    types: [python]
    exclude: ^migrations/
    args:
      - --config=.flake8
  - id: isort
    name: isort
    entry: isort
    language: system
    types: [python]
    args:
      - --profile=black
      - --resolve-all-configs
  - id: toml-sort
    name: toml-sort
    entry: toml-sort
    language: system
    files: pyproject.toml
    args:
      - --in-place
      - -a
  - id: check message header
    name: check message header
    minimum_pre_commit_version: 2.15.0
    entry: python pre-commit-scripts/check_message.py
    language: python
    verbose: true
    stages: [commit-msg]
  - id: pylint
    name: pylint
    entry: pylint
    language: system
    types: [python]
    exclude: ^migrations/
    args:
      - --rcfile=.pylintrc
      - -j 0
      - --reports=n
  - id: terraform fmt
    name: terraform fmt
    entry: terraform fmt
    language: system
    types:
      - terraform

(fix) Fix missing service account role
  shared/iac/modules/services/service-evaluator/iam.tf
Due: terraform fmt

(fix) Fix client factory default parameters handling
  shared/core/client/factory.py
Due: black, flake8, isort, pylint

(test) See of ci works again
  .github/workflows/customer_dummy_project.yaml
Due: none

(fix) Pass parent flox variables to detect anything workflow
  .github/workflows/customer_dummy_project.yaml
  functional-detect-anything/iac/variables.yaml
Due: none

(fix) Pass parent flox variables to detect anything workflow
  .github/workflows/customer_dummy_project.yaml
Due: none

(fix) Change some variables names prefixed with object_detection
  functional-detect-anything/iac/main.tf
  functional-detect-anything/iac/outputs.tf
  functional-detect-anything/iac/variables_detect_anything.tf
  functional-detect-anything/iac/variables_object_detection.tf
Due: terraform fmt

(fix) Change some variables names prefixed with object_detection
  .github/workflows/customer_dummy_project.yaml
Due: none

(fix) Implement all abstrct methods in VideoComparatorModel
  video-comparator/video_comparator/modules/model.py
Due: black, flake8, isort, pylint

(update) Use pip for final installation instead of poetry for packages from github
  shared/core/dockerfiles/abstract/online_prediction_model.Dockerfile
Due: none

(fix) Use the right shapely version
  detect-anything/poetry.lock
  detect-anything/pyproject.toml
Due: toml-sort

(ci) Trugger ci
  .github/workflows/customer_dummy_project.yaml
Due: none

(fix) Allow arbitrary types such as numpy array
  shared/core/schemas/detect_anything.py
Due: black, flake8, isort, pylint

(fix) Switch to grounding dyno commit where config is included in package
  detect-anything/poetry.lock
  detect-anything/pyproject.toml
Due: toml-sort

(fix) Add mandatory dependencies torch-model-archiver torch-workflow-archiver torchserve to detect-anything
  detect-anything/.dockerignore
  detect-anything/poetry.lock
  detect-anything/pyproject.toml
  object-detection/pyproject.toml
  video-comparator/pyproject.toml
Due: toml-sort

(update) Change video comparator config name to video-comparator
  video-comparator/video_comparator/config.yaml
Due: none

(fix) Fix detect-anything predictions bugs
  detect-anything/detect_anything/detect.py
  detect-anything/detect_anything/model_handler.py
  detect-anything/detect_anything/modules/model.py
  detect-anything/poetry.lock
  detect-anything/pyproject.toml
  shared/core/schemas/detect_anything.py
Due: black, flake8, isort, toml-sort, pylint

(fix) Fix bugs un functional video comparator and detect anything
  functional-detect-anything/tests/integration_tests/conftest.py
  functional-detect-anything/tests/integration_tests/test_endpoint.py
  functional-video-comparator/tests/integration_tests/conftest.py
  functional-video-comparator/tests/integration_tests/test_endpoint.py
  shared/core/client/detect_anything.py
  shared/core/client/video_comparator.py
  shared/core/packages/abstract/online_prediction_model/model_handler.py
  shared/core/path.py
  shared/poetry.lock
  shared/pyproject.toml
Due: black, flake8, isort, toml-sort, pylint

(fix) Fix pillow dependencies in other repos lock that depend on shared
  model-instantiator/poetry.lock
  object-detection/poetry.lock
  people-counting/poetry.lock
  video-comparator/poetry.lock
Due: none

(fix) Fix pillow dependencies in other repos lock that depend on shared
  functional-detect-anything/poetry.lock
  functional-object-detection/poetry.lock
  functional-people-counting/poetry.lock
  functional-video-comparator/poetry.lock
Due: none

(fix) Set right name rgb_image instead of image in schema
  shared/core/client/detect_anything.py
  shared/core/schemas/detect_anything.py
Due: black, flake8, isort, pylint

(update) Build detect anything extensions for cuda
  detect-anything/poetry.lock
  detect-anything/pyproject.toml
  shared/core/dockerfiles/abstract/online_prediction_model.Dockerfile
Due: toml-sort

(fix) Serialize bbox
  shared/core/schemas/detect_anything.py
Due: black, flake8, isort, pylint

(fix) Fix serialization issues and convert bbox coordinates to correct format
  detect-anything/detect_anything/modules/model.py
  detect-anything/poetry.lock
  detect-anything/pyproject.toml
  functional-detect-anything/tests/integration_tests/test_endpoint.py
  shared/core/schemas/detect_anything.py
Due: black, flake8, isort, toml-sort, pylint

(fix) Fix test of functional detect anything
  functional-detect-anything/tests/integration_tests/test_endpoint.py
Due: black, flake8, isort, pylint

(fix) Proceed with updating the package lists despite the modifications in the google repository's metadata
  .github/actions/set_up_python/action.yaml
Due: none

(test) Trigger flow
  .github/workflows/customer_dummy_project.yaml
Due: none

(update) Implements a general method for serializing and deserializing online prediction models.
  .github/workflows/customer_dummy_project.yaml
  functional-detect-anything/tests/integration_tests/test_endpoint.py
  functional-object-detection/tests/integration_tests/test_endpoint.py
  functional-video-comparator/tests/integration_tests/test_endpoint.py
  shared/core/client/abstract/online_prediction_model.py
  shared/core/packages/abstract/online_prediction_model/model_handler.py
  shared/core/schemas/abstract/online_prediction_model.py
  shared/core/schemas/detect_anything.py
  shared/core/schemas/object_detection.py
  shared/core/schemas/video_comparator.py
  shared/core/serialization/schema.py
  video-comparator/video_comparator/model_handler.py
Due: black, flake8, isort, pylint

(fix) Return list instead of generator
  shared/core/client/abstract/online_prediction_model.py
Due: black, flake8, isort, pylint

(fix) Add a way to encode images more effiiently during serialization
  shared/core/schemas/detect_anything.py
  shared/core/schemas/object_detection.py
  shared/core/serialization/schema.py
Due: black, flake8, isort, pylint

(fix) Use right attribute from obj detection schema, correct video comparator schema
  functional-object-detection/tests/integration_tests/test_endpoint.py
  functional-video-comparator/tests/integration_tests/test_endpoint.py
  shared/core/client/detect_anything.py
  shared/core/client/video_comparator.py
Due: black, flake8, isort, pylint

(fix) Use right attribute from obj detection schema in people counting job
  people-counting/people_counting/model.py
Due: black, flake8, isort, pylint
