Repository neuronest/neuronest: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, toml-sort, pylint, terraform fmt

.pre-commit-config.yaml:

fail_fast: true
repos:
- repo: local
  hooks:
  - id: black
    name: black
    entry: black
    language: system
    types: [python]
  - id: flake8
    name: flake8
    entry: flake8
    language: system
    types: [python]
    exclude: ^migrations/
    args:
      - --config=.flake8
  - id: isort
    name: isort
    entry: isort
    language: system
    types: [python]
    args:
      - --profile=black
      - --resolve-all-configs
  - id: toml-sort
    name: toml-sort
    entry: toml-sort
    language: system
    files: pyproject.toml
    args:
      - --in-place
      - -a
  - id: check message header
    name: check message header
    minimum_pre_commit_version: 2.15.0
    entry: python pre-commit-scripts/check_message.py
    language: python
    verbose: true
    stages: [commit-msg]
  - id: pylint
    name: pylint
    entry: pylint
    language: system
    types: [python]
    exclude: ^migrations/
    args:
      - --rcfile=.pylintrc
      - -j 0
      - --reports=n
  - id: terraform fmt
    name: terraform fmt
    entry: terraform fmt
    language: system
    types:
      - terraform

(update) Handle ServiceUnavailable issues during inferences
  shared/core/client/object_detection.py
  shared/core/tools.py
Due: black, flake8, isort, pylint

(feat) Implement people counting batch video processing
  functional-people-counting/tests/integration_tests/test_cloud_run.py
  people-counting/conf/config.yaml
  people-counting/people_counting/api/people_counter.py
  people-counting/people_counting/jobs/count_people.py
  people-counting/people_counting/jobs/environment_variables.py
  shared/core/api_exceptions.py
  shared/core/client/base.py
  shared/core/client/people_counting.py
  shared/core/hashing.py
  shared/core/path.py
  shared/core/schemas/asset.py
  shared/core/schemas/people_counting.py
  shared/core/services/asset_reader.py
  shared/core/services/reader_common.py
  shared/poetry.lock
  shared/pyproject.toml
Due: black, flake8, isort, toml-sort, pylint

(fix) Add missing import
  shared/core/google/vertex_ai_manager.py
Due: black, flake8, isort, pylint

(fix) Fix non working cloud job command arguments
  people-counting/people_counting/api/people_counter.py
  people-counting/people_counting/jobs/environment_variables.py
  shared/core/schemas/people_counting.py
Due: black, flake8, isort, pylint

(fix) Define branch env variable everywhere and condition != cancelled()
  .github/workflows/functional_abstract_online_prediction_model.yaml
  .github/workflows/functional_people_counting.yaml
  .github/workflows/functional_video_comparator.yaml
  .github/workflows/object_detection.yaml
  .github/workflows/video_comparator.yaml
Due: none

(update) Apply suggestions and simplify people_counting client usage
  functional-people-counting/iac/main.tf
  functional-people-counting/iac/variables_people_counting.tf
  functional-people-counting/tests/integration_tests/test_cloud_run.py
  people-counting/iac/main.tf
  people-counting/iac/variables.tf
  people-counting/iac/variables.yaml
  people-counting/people_counting/api/dependencies.py
  people-counting/people_counting/api/people_counter.py
  people-counting/people_counting/api/resources.py
  people-counting/people_counting/environment_variables.py
  people-counting/people_counting/jobs/count_people.py
  shared/core/client/base.py
  shared/core/client/people_counting.py
  shared/core/exceptions.py
  shared/core/routes/people_counting.py
  shared/core/schemas/people_counting.py
  shared/core/services/asset_reader.py
  shared/iac/modules/services/functional-people-counting/modules.tf
  shared/iac/modules/services/functional-people-counting/variables_people_counting.tf
  shared/iac/modules/services/people-counting/cloud_run.tf
  shared/iac/modules/services/people-counting/variables.tf
Due: black, flake8, isort, pylint, terraform fmt

(fix) Handle empty list in object detection client
  shared/core/client/object_detection.py
Due: black, flake8, isort, pylint

(update) Use teardown fixture to uninstantiate models in tests
  functional-object-detection/tests/integration_tests/test_endpoint.py
  functional-people-counting/tests/integration_tests/test_cloud_run.py
Due: black, flake8, isort, pylint

(config) Increase memory for people counting cloud job
  people-counting/conf/config.yaml
Due: none

(update) Add random in exponential backoff retrying strategy
  shared/core/client/object_detection.py
Due: black, flake8, isort, pylint

(test) Separate cloud run and cloud job integration tests
  functional-object-detection/pyproject.toml
  functional-object-detection/tests/integration_tests/test_endpoint.py
  functional-people-counting/pyproject.toml
  functional-people-counting/tests/integration_tests/common.py
  functional-people-counting/tests/integration_tests/conftest.py
  functional-people-counting/tests/integration_tests/test_cloud_run.py
  functional-people-counting/tests/integration_tests/test_count_people_cloud_job.py
  functional-people-counting/tests/integration_tests/test_count_people_cloud_run.py
Due: black, flake8, isort, toml-sort, pylint

(update) Use chunking in people_counting client
  people-counting/people_counting/api/resources.py
  shared/core/client/people_counting.py
Due: black, flake8, isort, pylint

(fix) Pick up accelerator type and count from env var and make them optional in config
  functional-video-comparator/iac/variables.yaml
  object-detection/object_detection/config.yaml
  shared/core/packages/abstract/online_prediction_model/config.py
  video-comparator/iac/variables.yaml
  video-comparator/video_comparator/config.yaml
Due: black, flake8, isort, pylint

(test) Make real time prediction occurs after job prediction to avoid request timeout
  functional-people-counting/tests/integration_tests/test_count_people_cloud_job.py
  functional-people-counting/tests/integration_tests/test_count_people_cloud_run.py
  shared/pyproject.toml
Due: black, flake8, isort, toml-sort, pylint

(config) Decrease maximum number of docker images to keep in the registry
  .github/actions/build_test_push/action.yaml
Due: none

(fix) Put back right generate fild id function name
  shared/core/client/video_comparator.py
Due: black, flake8, isort, pylint

(update) Update people counting client
  shared/core/client/people_counting.py
Due: black, flake8, isort, pylint

(test) Update integration tests
  functional-object-detection/tests/integration_tests/conftest.py
  functional-object-detection/tests/integration_tests/test_endpoint.py
  functional-object-detection/tests/integration_tests/test_uninstantiate.py
  functional-people-counting/tests/environment_variables.py
  functional-people-counting/tests/integration_tests/conftest.py
  functional-people-counting/tests/integration_tests/test_count_people_async.py
  functional-people-counting/tests/integration_tests/test_count_people_sync.py
  functional-people-counting/tests/integration_tests/test_uninstantiate.py
  shared/pyproject.toml
Due: black, flake8, isort, toml-sort, pylint

(config) Set back GPU by default in object detection
  object-detection/iac/variables.yaml
Due: none

(test) Update uninstantiate teardown mechanisms during tests
  functional-object-detection/tests/integration_tests/conftest.py
  functional-object-detection/tests/integration_tests/test_endpoint.py
  functional-object-detection/tests/integration_tests/test_uninstantiate.py
  functional-people-counting/tests/integration_tests/conftest.py
  functional-people-counting/tests/integration_tests/test_count_people_async.py
  functional-people-counting/tests/integration_tests/test_count_people_sync.py
  functional-people-counting/tests/integration_tests/test_uninstantiate.py
  shared/core/client/people_counting.py
  shared/pyproject.toml
Due: black, flake8, isort, toml-sort, pylint

(update) Update people counting job timeout behaviour
  people-counting/people_counting/api/people_counter.py
  shared/core/client/people_counting.py
  shared/core/schemas/people_counting.py
Due: black, flake8, isort, pylint

(update) Use UTC in document timestamp
  people-counting/people_counting/api/people_counter.py
Due: black, flake8, isort, pylint

(fix) Fix timestamp timezone in people counting client
  shared/core/client/people_counting.py
Due: black, flake8, isort, pylint

(fix) Put back feature project for featture branch
  customer-dummy-project/iac/variables.yaml
Due: none

(feat) Add batching
  .github/workflows/object_detection.yaml
  object-detection/Dockerfile
  object-detection/iac/variables.yaml
  object-detection/object_detection/modules/model.py
Due: black, flake8, isort, pylint

(update) Removes elements not necessary for the PR
  .github/actions/get_terraform_output/action.yaml
  functional-object-detection/tests/injection/__init__.py
  functional-object-detection/tests/injection/fake_model_instantiator_client.py
  functional-video-comparator/tests/integration_tests/conftest.py
  shared/iac/modules/services/functional-people-counting/variables_object_detection_model_instantiator.tf
Due: black, flake8, isort, pylint, terraform fmt

(fix) Rebuild project from scratch
  customer-dummy-project/iac/variables.yaml
Due: none

(test) Trigger flow
  .github/workflows/customer_dummy_project.yaml
Due: none

(fix) Dynamically inject model name into properties torch serve
  object-detection/Dockerfile
Due: none

(fix) Update video comparator lock
  video-comparator/poetry.lock
Due: none

(doc) Add comment for 403 workaround
  object-detection/object_detection/modules/model.py
Due: black, flake8, isort, pylint

(feat) Use batching in TorchServe (#48)
  .github/workflows/object_detection.yaml
  object-detection/Dockerfile
  object-detection/iac/variables.yaml
  object-detection/object_detection/modules/model.py
Due: black, flake8, isort, pylint

(fix) Include pytest-xdist in shared dependencies
  shared/poetry.lock
  shared/pyproject.toml
  video-comparator/poetry.lock
Due: toml-sort

(refactor) Add first set of cleaning, renaming
  object-detection/object_detection/config.py
  object-detection/object_detection/model_handler.py
  shared/core/client/video_comparator.py
  shared/core/packages/abstract/online_prediction_model/model_handler.py
  shared/core/schemas/abstract/online_prediction_model.py
  shared/core/schemas/object_detection.py
  shared/core/schemas/video_comparator.py
  video-comparator/poetry.lock
  video-comparator/video_comparator/config.py
  video-comparator/video_comparator/model_handler.py
Due: black, flake8, isort, pylint

(fix) Fix get model by name mechanism
  shared/core/client/abstract/online_prediction_model.py
Due: black, flake8, isort, pylint

(test) Test on new project
  customer-dummy-project/iac/variables.yaml
Due: none

(test) Trigger flow
  customer-dummy-project/iac/variables.yaml
Due: none
