Repository neuronest/neuronest: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, pylint, isort, toml-sort

black:
  name: black
  entry: black
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system
  args:
  - --config=.flake8

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --rcfile=.pylintrc
  - -j 0
  - --reports=n

isort:
  name: isort
  entry: isort
  language: system
  args:
  - --profile=black

toml-sort:
  name: toml-sort
  entry: toml-sort
  language: system
  args:
  - --in-place
  - -a

(update) Leave linters package handling to shared repo
  people-counting/poetry.lock
  people-counting/pyproject.toml
Due: toml-sort

(update) Clean variables
  .github/actions/set_variables/action.yaml
  .github/workflows/people_counting.yaml
  people-counting/iac/static_variables.env
Due: none

(wip) Wip
  .github/actions/run_linters_tests/action.yaml
Due: none

(update) Create unit_test folder
  people-counting/tests/unit_tests/__init__.py
  people-counting/tests/unit_tests/test_dummy.py
Due: black, flake8, pylint, isort

(wip) Wip
  .github/actions/build_test_push/action.yaml
  .github/actions/run_linters_tests/action.yaml
Due: none

(update) Update triggers and use new gcloud auth action
  .github/workflows/people_counting.yaml
Due: none

(update) Remove ci trigger from push on any branch
  .github/workflows/people_counting.yaml
Due: none

(update) Remove COPY . from Dockerfile
  .github/workflows/people_counting.yaml
  people-counting/Dockerfile
Due: none

(update) [people-counting] Set repository and terraform variables (#6)
  .github/actions/build_test_push/action.yaml
  .github/actions/set_variables/action.yaml
  .github/variables/dynamic_variables.env
  .github/variables/static_variables.env
  .github/workflows/people_counting.yaml
  people-counting/Dockerfile
  people-counting/api/main.py
  people-counting/iac/dynamic_variables.env
  people-counting/iac/main.tf
  people-counting/iac/modules/services/people-counting/variables.tf
  people-counting/iac/static_variables.env
  people-counting/poetry.lock
  people-counting/pyproject.toml
  people-counting/tests/unit_tests/__init__.py
  people-counting/tests/unit_tests/test_dummy.py
Due: black, flake8, pylint, isort, toml-sort

(ci) [shared] Make docker_repository_name in build_test_push action mandatory
  .github/actions/build_test_push/action.yaml
Due: none

(feat) [shared] Implement object_detection and model_instantiator clients
  shared/core/auth.py
  shared/core/client/__init__.py
  shared/core/client/base.py
  shared/core/client/model_instantiator.py
  shared/core/client/object_detection.py
Due: black, flake8, pylint, isort

(update) [object-detection, shared] Move object_detection input schemas into shared repository
  object-detection/object_detection/model_handler.py
  shared/core/schemas/object_detection.py
Due: black, flake8, pylint, isort

(update) [model-instantiator, shared] Make VertexAIManager handle cases where the endpoint is already deployed
  model-instantiator/model_instantiator/api/instantiate.py
  shared/core/google/vertex_ai_manager.py
Due: black, flake8, pylint, isort

(ci) [shared] Fix CI
  .github/workflows/core.yaml
Due: none

(fix) [object-detection] Fix wrong import and install script
  object-detection/install.sh
  object-detection/tests/integration_tests/test_endpoint.py
Due: black, flake8, pylint, isort

(test) [object-detection] Make endpoint test use object_detection client
  object-detection/pyproject.toml
  object-detection/tests/injection/__init__.py
  object-detection/tests/injection/fake_model_instantiator_client.py
  object-detection/tests/integration_tests/test_endpoint.py
Due: black, flake8, pylint, isort, toml-sort

(test) [object-detection] Reduce request size to avoid the 1.5MB vertex limit
  object-detection/tests/integration_tests/test_endpoint.py
Due: black, flake8, pylint, isort

(ci) [object-detection] Fix wrong id usage
  .github/workflows/object_detection.yaml
Due: none

(test) [object-detection] Fix wrong type hashing
  object-detection/tests/integration_tests/test_endpoint.py
Due: black, flake8, pylint, isort

(feat) [model-instantiator, shared] Implement deployment status manager
  .github/workflows/model_instantiator.yaml
  model-instantiator/conf/config.yaml
  model-instantiator/model_instantiator/api/dependencies.py
  model-instantiator/model_instantiator/api/instantiate.py
  shared/core/google/firestore_client.py
  shared/core/google/vertex_ai_manager.py
  shared/core/serialization/encoding.py
  shared/core/services/deployment_status_manager.py
Due: black, flake8, pylint, isort

(ci) [model-instantiator] Fix typo
  .github/workflows/model_instantiator.yaml
Due: none

(config) [model-instantiator] Fix forgotten dependency
  model-instantiator/poetry.lock
  model-instantiator/pyproject.toml
Due: toml-sort

(update) [model-instantiator, object-detection, shared] Update instantiate and uninstantiate mechanisms, make object detection CLI use model instantiator client
  .github/workflows/object_detection.yaml
  model-instantiator/conf/config.yaml
  model-instantiator/model_instantiator/api/instantiate.py
  model-instantiator/model_instantiator/api/uninstantiate.py
  object-detection/object_detection/cli.py
  object-detection/object_detection/environment_variables.py
  shared/core/exceptions.py
Due: black, flake8, pylint, isort

(fix) [object-detection] Fix forgotten import
  object-detection/object_detection/cli.py
Due: black, flake8, pylint, isort

(update) [object-detection] Make MODEL_INSTANTIATOR_HOST environment variable mandatory
  object-detection/object_detection/environment_variables.py
Due: black, flake8, pylint, isort

(update) [shared] Make instantiate method synchronous in model instantiator client
  shared/core/client/model_instantiator.py
Due: black, flake8, pylint, isort

(fix) [shared] Handle deployment status where if doesn't exist yet
  shared/core/services/deployment_status_manager.py
Due: black, flake8, pylint, isort

(config) [shared] Add firestore to poetry dependencies
  shared/poetry.lock
  shared/pyproject.toml
Due: toml-sort

(update) [shared] Update object detection client
  shared/core/client/object_detection.py
Due: black, flake8, pylint, isort

(config) [model-instantiator] Rename firestore deployment collection name
  model-instantiator/conf/config.yaml
Due: none

(update) [model-instantiator] Add status updating if the model is already deployed
  model-instantiator/model_instantiator/api/instantiate.py
Due: black, flake8, pylint, isort

(fix) [shared] Fix datetime timezone
  shared/core/services/deployment_status_manager.py
Due: black, flake8, pylint, isort

(ci) [object-detection] Clean CI
  .github/workflows/object_detection.yaml
Due: none

(feat) [model-instantiator, shared] Add set_status method for cases without transaction needed
  model-instantiator/model_instantiator/api/instantiate.py
  model-instantiator/model_instantiator/api/uninstantiate.py
  shared/core/services/deployment_status_manager.py
Due: black, flake8, pylint, isort

(feat) Add first version of people counting with object detection client
  people-counting/api/dependencies.py
  people-counting/people_counting/benchmark.py
  people-counting/people_counting/dependencies.py
  people-counting/people_counting/environ.py
  people-counting/people_counting/model.py
  people-counting/people_counting/people_counter.py
  people-counting/people_counting/run.py
  people-counting/poetry.lock
  shared/core/client/object_detection.py
Due: black, flake8, pylint, isort

(feat) [model-instantiator, shared] Use Cloud Run Job
  .github/workflows/model_instantiator.yaml
  model-instantiator/conf/config.yaml
  model-instantiator/model_instantiator/api/dependencies.py
  model-instantiator/model_instantiator/api/instantiate.py
  model-instantiator/model_instantiator/environment_variables.py
  model-instantiator/model_instantiator/jobs/__init__.py
  model-instantiator/model_instantiator/jobs/deploy_model.py
  shared/core/auth.py
  shared/core/google/cloud_run_job_manager.py
  shared/core/schemas/google/__init__.py
  shared/core/schemas/google/cloud_run.py
  shared/core/schemas/model_instantiator.py
  shared/core/serialization/protobuf.py
Due: black, flake8, pylint, isort

(ci) [model-instantiator] Create Cloud Run job in CI rather than via the client
  .github/workflows/model_instantiator.yaml
Due: none

(ci) [model-instantiator] Fix wrong parameter
  .github/workflows/model_instantiator.yaml
Due: none

(ci) [model-instantiator] Fix missing parameter
  .github/workflows/model_instantiator.yaml
Due: none

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$, but not: ^migrations/
  pylint: any of: \.py$, but not: ^migrations/
  isort: any of: \.py$
  toml-sort: any of: pyproject.toml
