Repository neuronest/neuronest: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, pylint, isort, toml-sort

black:
  name: black
  entry: black
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system
  args:
  - --config=.flake8

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --rcfile=.pylintrc
  - -j 0
  - --reports=n

isort:
  name: isort
  entry: isort
  language: system
  args:
  - --profile=black

toml-sort:
  name: toml-sort
  entry: toml-sort
  language: system
  args:
  - --in-place
  - -a

(feat) wip
  .github/workflows/object_detection.yaml
Due: none

(feat) wip
  .github/variables/static_variables.env
Due: none

(feat) wip
  .github/workflows/object_detection.yaml
  .github/workflows/people_counting_functional.yaml
Due: none

(feat) wip
  .github/workflows/people_counting_functional.yaml
Due: none

(feat) wip
  .github/workflows/people_counting.yaml
  .github/workflows/people_counting_functional.yaml
Due: none

(feat) wip
  .github/workflows/object_detection.yaml
  .github/workflows/people_counting.yaml
  .github/workflows/people_counting_functional.yaml
Due: none

(feat) wip
  .github/actions/set_up_python/action.yaml
  .github/workflows/object_detection.yaml
Due: none

(feat) wip
  .github/actions/run_terraform/action.yaml
  .github/workflows/people_counting_functional.yaml
Due: none

(feat) wip
  object-detection/object_detection/environment_variables.py
  object-detection/poetry.lock
  object-detection/pyproject.toml
Due: black, flake8, pylint, isort, toml-sort

(feat) wip
  .github/actions/run_terraform/action.yaml
  .github/workflows/object_detection.yaml
  .github/workflows/people_counting_functional.yaml
  model-instantiator/iac/main.tf
  model-instantiator/iac/static_variables.env
  model-instantiator/iac/variables.tf
  people-counting-functional/iac/main.tf
  people-counting-functional/iac/outputs.tf
  people-counting-functional/iac/static_variables.env
  people-counting-functional/iac/variables.tf
  shared/iac/modules/services/model-instantiator/cloud_scheduler.tf
  shared/iac/modules/services/model-instantiator/variables.tf
  shared/iac/modules/services/people-counting-functional/modules.tf
  shared/iac/modules/services/people-counting-functional/outputs.tf
  shared/iac/modules/services/people-counting-functional/variables.tf
Due: none

(feat) wip
  .github/actions/set_variables/create_env_file.py
  model-instantiator/iac/static_variables.env
  people-counting-functional/iac/static_variables.env
Due: black, flake8, pylint, isort

(feat) wip
  .github/actions/run_terraform/action.yaml
Due: none

(feat) wip
  object-detection/object_detection/cli.py
Due: black, flake8, pylint, isort

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$, but not: ^migrations/
  pylint: any of: \.py$, but not: ^migrations/
  isort: any of: \.py$
  toml-sort: any of: pyproject.toml
