Repository neuronest/neuronest: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, toml-sort, pylint, terraform fmt

.pre-commit-config.yaml:

fail_fast: true
repos:
- repo: local
  hooks:
  - id: black
    name: black
    entry: black
    language: system
    types: [python]
  - id: flake8
    name: flake8
    entry: flake8
    language: system
    types: [python]
    exclude: ^migrations/
    args:
      - --config=.flake8
  - id: isort
    name: isort
    entry: isort
    language: system
    types: [python]
    args:
      - --profile=black
      - --resolve-all-configs
  - id: toml-sort
    name: toml-sort
    entry: toml-sort
    language: system
    files: pyproject.toml
    args:
      - --in-place
      - -a
  - id: check message header
    name: check message header
    minimum_pre_commit_version: 2.15.0
    entry: python pre-commit-scripts/check_message.py
    language: python
    verbose: true
    stages: [commit-msg]
  - id: pylint
    name: pylint
    entry: pylint
    language: system
    types: [python]
    exclude: ^migrations/
    args:
      - --rcfile=.pylintrc
      - -j 0
      - --reports=n
  - id: terraform fmt
    name: terraform fmt
    entry: terraform fmt
    language: system
    types:
      - terraform

(feat) wip
  .github/actions/build_test_push/action.yaml
Due: none

(feat) wip
  shared/core/schemas/image_name.py
Due: black, flake8, isort, pylint

(feat) wip
  .github/workflows/people_counting_functional.yaml
Due: none

(feat) wip
  .github/actions/get_terraform_output/action.yaml
Due: none

(feat) wip
  shared/core/client/object_detection.py
  shared/core/google/vertex_ai_manager.py
Due: black, flake8, isort, pylint

(feat) wip
  .github/actions/run_linters_tests/action.yaml
  shared/core/client/object_detection.py
Due: black, flake8, isort, pylint

(feat) wip
  .github/workflows/object_detection_functional.yaml
Due: none

(feat) wip
  object-detection-functional/poetry.lock
  object-detection-functional/pyproject.toml
  object-detection-functional/tests/__init__.py
  object-detection-functional/tests/data/sample.png
  object-detection-functional/tests/environment_variables.py
  object-detection-functional/tests/injection/__init__.py
  object-detection-functional/tests/injection/fake_model_instantiator_client.py
  object-detection-functional/tests/integration_tests/__init__.py
  object-detection-functional/tests/integration_tests/test_endpoint.py
  shared/core/client/object_detection.py
Due: black, flake8, isort, toml-sort, pylint

(feat) wip
  .github/workflows/people_counting_functional.yaml
  object-detection-functional/tests/integration_tests/test_endpoint.py
Due: black, flake8, isort, pylint

(feat) wip
  .github/workflows/video_comparator_dummy_project.yaml
Due: none

(feat) wip
  .github/workflows/abstract_online_prediction_model_functional.yaml
  .github/workflows/video_comparator_dummy_project.yaml
Due: none

(feat) wip
  .github/workflows/abstract_online_prediction_model.yaml
  .github/workflows/abstract_online_prediction_model_functional.yaml
  .github/workflows/video_comparator_dummy_project.yaml
  object-detection-functional/iac/main.tf
  object-detection/Dockerfile
  object-detection/iac/variables.yaml
  object-detection/object_detection/cli.py
  object-detection/object_detection/config.py
  object-detection/object_detection/config.yaml
  object-detection/object_detection/model_handler.py
  object-detection/object_detection/modules/model.py
  object-detection/object_detection/train.py
  shared/core/packages/__init__.py
  shared/core/packages/abstract/__init__.py
  shared/core/packages/abstract/online_prediction_model/__init__.py
  shared/core/packages/abstract/online_prediction_model/cli.py
  shared/core/packages/abstract/online_prediction_model/config.py
  shared/core/packages/abstract/online_prediction_model/config.yaml
  shared/core/packages/abstract/online_prediction_model/environment_variables.py
  shared/core/packages/abstract/online_prediction_model/model_handler.py
  shared/core/packages/abstract/online_prediction_model/modules/__init__.py
  shared/core/packages/abstract/online_prediction_model/modules/model.py
  shared/core/packages/abstract/online_prediction_model/train.py
  shared/core/schemas/abstract/__init__.py
  shared/core/schemas/abstract/online_prediction_model.py
  shared/core/schemas/object_detection.py
  shared/iac/modules/abstract/online-prediction-model-functional/outputs.tf
  shared/iac/modules/services/object-detection-functional/modules.tf
  shared/iac/modules/services/object-detection-functional/outputs.tf
  shared/iac/modules/services/object-detection-functional/variables_object_detection.tf
  shared/iac/modules/services/object-detection/apis.tf
  shared/iac/modules/services/object-detection/buckets.tf
  shared/iac/modules/services/object-detection/iam.tf
  shared/iac/modules/services/object-detection/modules.tf
  shared/iac/modules/services/object-detection/outputs.tf
  shared/iac/modules/services/object-detection/service_accounts.tf
  shared/iac/modules/services/people-counting-functional/modules.tf
Due: black, flake8, isort, pylint, terraform fmt

(feat) wip
  .github/workflows/abstract_online_prediction_model_functional.yaml
Due: none

(feat) wip
  .github/workflows/abstract_online_prediction_model.yaml
Due: none

(feat) wip
  object-detection/Dockerfile
Due: none

(refactor) Rename functional elements to make 'functional' a prefix instead of a suffix
  .github/actions/set_variables/action.yaml
  .github/actions/set_variables/create_env_file.py
  .github/actions/set_variables_gcloud_auth/action.yaml
  .github/actions/upload_variables/action.yaml
  .github/workflows/customer_dummy_project.yaml
  .github/workflows/functional_object_detection.yaml
  .github/workflows/functional_people_counting.yaml
  functional-object-detection/iac/main.tf
  functional-object-detection/iac/outputs.tf
  functional-object-detection/iac/variables.yaml
  functional-object-detection/iac/variables_model_instantiator.tf
  functional-object-detection/iac/variables_object_detection.tf
  functional-object-detection/iac/variables_shared.tf
  functional-people-counting/iac/main.tf
  functional-people-counting/iac/outputs.tf
  functional-people-counting/iac/variables.yaml
  functional-people-counting/iac/variables_object_detection.tf
  functional-people-counting/iac/variables_object_detection_model_instantiator.tf
  functional-people-counting/iac/variables_people_counting.tf
  functional-people-counting/iac/variables_shared.tf
  people-counting-functional/iac/variables.yaml
  shared/iac/modules/services/functional-object-detection/modules.tf
  shared/iac/modules/services/functional-object-detection/outputs.tf
  shared/iac/modules/services/functional-object-detection/variables_model_instantiator.tf
  shared/iac/modules/services/functional-object-detection/variables_object_detection.tf
  shared/iac/modules/services/functional-object-detection/variables_shared.tf
  shared/iac/modules/services/functional-people-counting/modules.tf
  shared/iac/modules/services/functional-people-counting/outputs.tf
  shared/iac/modules/services/functional-people-counting/variables_object_detection.tf
  shared/iac/modules/services/functional-people-counting/variables_object_detection_model_instantiator.tf
  shared/iac/modules/services/functional-people-counting/variables_people_counting.tf
  shared/iac/modules/services/functional-people-counting/variables_shared.tf
  shared/iac/modules/services/people-counting-functional/outputs.tf
Due: black, flake8, isort, pylint, terraform fmt

(update) Use make space for training step in object detection
  .github/workflows/object_detection.yaml
Due: none

(config) Use another PROJECT_ID
  customer-dummy-project/iac/variables.yaml
Due: none

(update) Make terraform module variables flat
  .github/workflows/functional_people_counting.yaml
  functional-people-counting/iac/main.tf
  functional-people-counting/iac/variables_people_counting.tf
  shared/iac/modules/services/functional-object-detection/modules.tf
  shared/iac/modules/services/functional-people-counting/modules.tf
  shared/iac/modules/services/functional-people-counting/outputs.tf
  shared/iac/modules/services/functional-people-counting/variables_model_instantiator.tf
  shared/iac/modules/services/functional-people-counting/variables_object_detection.tf
  shared/iac/modules/services/functional-people-counting/variables_object_detection_model_instantiator.tf
  shared/iac/modules/services/functional-people-counting/variables_people_counting.tf
Due: terraform fmt

(feat) solve how to load with pydantic classes rather than omegaconf
  model-instantiator/conf/config.yaml
  object-detection/object_detection/config.yaml
  object-detection/object_detection/modules/model.py
  object-detection/object_detection/train.py
  people-counting/config/config.yaml
  shared/core/packages/abstract/online_prediction_model/cli.py
  shared/core/packages/abstract/online_prediction_model/config.py
  shared/core/packages/abstract/online_prediction_model/config.yaml
  video-comparator/config.yaml
Due: black, flake8, isort, pylint

(fix) Fix duplicated variable names
  functional-people-counting/iac/variables_model_instantiator.tf
  functional-people-counting/iac/variables_people_counting.tf
  shared/iac/modules/services/functional-people-counting/variables_people_counting.tf
Due: terraform fmt

(fix) Fix missing variable
  functional-people-counting/iac/main.tf
Due: terraform fmt

(config) Freeze ultralytics model type tag
  object-detection/config.yaml
Due: none

(feat) download the model with a yolov5 repository tag
  object-detection/object_detection/config.py
  object-detection/object_detection/config.yaml
  object-detection/object_detection/model_handler.py
  object-detection/object_detection/modules/model.py
  object-detection/object_detection/train.py
  shared/core/packages/abstract/online_prediction_model/config.py
  shared/core/packages/abstract/online_prediction_model/train.py
Due: black, flake8, isort, pylint

(fix) Get dict from pydantic, not omegaconf
  shared/core/packages/abstract/online_prediction_model/train.py
Due: black, flake8, isort, pylint

(fix) Load the custom code before loading the model
  object-detection/Dockerfile
  object-detection/object_detection/modules/model.py
Due: black, flake8, isort, pylint
