Repository neuronest/neuronest: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, toml-sort, pylint, terraform fmt

black:
  name: black
  entry: black
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system
  args:
  - --config=.flake8

isort:
  name: isort
  entry: isort
  language: system
  args:
  - --profile=black
  - --resolve-all-configs

toml-sort:
  name: toml-sort
  entry: toml-sort
  language: system
  args:
  - --in-place
  - -a

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --rcfile=.pylintrc
  - -j 0
  - --reports=n

terraform fmt:
  name: terraform fmt
  entry: terraform fmt
  language: system

(fix) Correct comment in variables
  functional-video-comparator/iac/variables.yaml
  model-instantiator/iac/variables.yaml
Due: none

(refactor) Rename some variables
  .github/actions/set_variables/create_env_file.py
  functional-object-detection/iac/variables.yaml
  functional-people-counting/iac/variables.yaml
  functional-video-comparator/iac/variables.yaml
Due: black, flake8, isort, pylint

(refactor) Rename the prefix func functional, the transition to func will be done via another PR
  functional-object-detection/iac/variables.yaml
  functional-people-counting/iac/variables.yaml
  functional-video-comparator/iac/variables.yaml
Due: none

(refactor) Redo the tests on customer-project-2
  customer-dummy-project/iac/variables.yaml
Due: none

(fix) Correctly switch from a functional to non-functional repo name by removing the prefix and not the suffix and allows filtering on the variables of the current repo
  .github/actions/set_variables/create_env_file.py
  .github/workflows/functional_abstract_online_prediction_model.yaml
Due: black, flake8, isort, pylint

(fix) Fix pylint errors
  .github/workflows/video_comparator_dummy_project.yaml
  object-detection/object_detection/modules/model.py
  object-detection/object_detection/train.py
Due: black, flake8, isort, pylint

(test) Trigger workflow
  .github/workflows/abstract_online_prediction_model.yaml
  open
Due: none

(test) Trigger workflow
  customer-dummy-project/iac/variables.yaml
Due: none

(test) Trigger workflow
  .github/workflows/abstract_online_prediction_model.yaml
Due: none

(test) Trigger workflow with another project id
  customer-dummy-project/iac/variables.yaml
Due: none

(test) Trigger workflow
  .github/workflows/video_comparator_dummy_project.yaml
Due: none

(test) Trigger workflow with another project id
  .github/workflows/video_comparator_dummy_project.yaml
  customer-dummy-project/iac/variables.yaml
Due: none

(fix) Remove model tag from config, is included in model type
  object-detection/object_detection/config.py
Due: black, flake8, isort, pylint

(fix) Fixes object detection and video comparator integration tests
  object-detection/object_detection/model_handler.py
  shared/core/schemas/video_comparator.py
Due: black, flake8, isort, pylint

(feat) Adds workflows for non-functional object-detection and video-comparator
  .github/workflows/functional_abstract_online_prediction_model.yaml
  .github/workflows/video_comparator.yaml
Due: none

(clean) Remove commented bits of code that no longer serve any purpose
  functional-video-comparator/tests/integration_tests/conftest.py
  functional-video-comparator/tests/integration_tests/test_endpoint.py
  object-detection/object_detection/config.py
  object-detection/object_detection/model_handler.py
  object-detection/object_detection/modules/model.py
  people-counting/people_counting/api/people_counter.py
  shared/core/client/abstract/online_prediction_model.py
  shared/core/client/api_client.py
  shared/core/client/object_detection.py
  shared/core/client/people_counting.py
  shared/core/client/video_comparator.py
  shared/core/google/vertex_ai_manager.py
  shared/core/packages/abstract/online_prediction_model/config.py
  shared/core/packages/abstract/online_prediction_model/model_handler.py
  shared/core/packages/abstract/online_prediction_model/modules/model.py
  shared/core/packages/abstract/online_prediction_model/train.py
  shared/core/schemas/abstract/online_prediction_model.py
  video-comparator/scripts/compare_pair_of_videos.py
  video-comparator/video_comparator/config.py
  video-comparator/video_comparator/model_handler.py
  video-comparator/video_comparator/modules/model.py
Due: black, flake8, isort, pylint

(clean) Remove commented bits of code that no longer serve any purpose
  shared/core/dockerfiles/abstract/online_prediction_model.Dockerfile
  shared/core/packages/abstract/online_prediction_model/config.yaml
  shared/core/packages/abstract/online_prediction_model/model_handler.py
Due: black, flake8, isort, pylint

(feat) Create a gcp project for the branch
  customer-dummy-project/iac/variables.yaml
Due: none

(clean) Remove more elements specific to video-comparator
  shared/core/client/api_client.py
  shared/core/client/base_client.py
  shared/core/dockerfiles/abstract/online_prediction_model.Dockerfile
  shared/core/packages/__init__.py
  shared/core/packages/abstract/__init__.py
  shared/core/packages/abstract/online_prediction_model/__init__.py
  shared/core/packages/abstract/online_prediction_model/cli.py
  shared/core/packages/abstract/online_prediction_model/config.py
  shared/core/packages/abstract/online_prediction_model/config.yaml
  shared/core/packages/abstract/online_prediction_model/environment_variables.py
  shared/core/packages/abstract/online_prediction_model/model_handler.py
  shared/core/packages/abstract/online_prediction_model/modules/__init__.py
  shared/core/packages/abstract/online_prediction_model/modules/model.py
  shared/core/packages/abstract/online_prediction_model/train.py
  shared/iac/modules/services/object-detection/modules.tf
Due: black, flake8, isort, pylint, terraform fmt

(test) Trigger flow
  .github/workflows/people_counting.yaml
Due: none

(test) Trigger flow
  .github/workflows/functional_people_counting.yaml
Due: none

(fix) Create models bucket by passing project id
  object-detection/object_detection/cli.py
Due: black, flake8, isort, pylint

(fix) Actually pass model instantiator url for model instantiation
  .github/workflows/functional_people_counting.yaml
Due: none

(fix) Make PeopleCountingClient inherit the good foundation of ApiClient
  shared/core/client/base.py
  shared/core/client/people_counting.py
Due: black, flake8, isort, pylint

(fix) Pass project id
  shared/core/client/people_counting.py
Due: black, flake8, isort, pylint

(fix) Remove elements specific to video comparator, use the correct storage client
  people-counting/people_counting/api/dependencies.py
  shared/core/client/abstract/__init__.py
  shared/core/client/abstract/online_prediction_model.py
  shared/core/client/base.py
  shared/core/client/people_counting.py
  shared/core/google/utils.py
  shared/core/tools.py
Due: black, flake8, isort, pylint

(feat) Add functional object detection integration tests
  .github/workflows/functional_object_detection.yaml
Due: none

(refactor) Implements the first changes to the PR review
  .github/actions/run_linters_tests/action.yaml
  .github/actions/set_variables/create_env_file.py
  .github/workflows/functional_people_counting.yaml
  functional-object-detection/pyproject.toml
  functional-people-counting/pyproject.toml
  object-detection/object_detection/cli.py
  object-detection/object_detection/config.yaml
  people-counting/people_counting/api/people_counter.py
  shared/core/google/storage_client.py
  shared/core/path.py
  shared/iac/modules/services/functional-people-counting/variables_object_detection_model_instantiator.tf
Due: black, flake8, isort, toml-sort, pylint, terraform fmt

(refactor) Be consistent in the designation of the route module prefix
  people-counting/people_counting/api/people_counter.py
Due: black, flake8, isort, pylint

(config) Modify project id and code
  customer-dummy-project/iac/variables.yaml
Due: none

(clean) Remove dead code
  object-detection/tests/data/sample.png
  object-detection/tests/injection/__init__.py
  object-detection/tests/injection/fake_model_instantiator_client.py
  object-detection/tests/integration_tests/__init__.py
  object-detection/tests/integration_tests/test_endpoint.py
Due: black, flake8, isort, pylint

(fix) Add prefix to fake host
  functional-object-detection/tests/integration_tests/test_endpoint.py
Due: black, flake8, isort, pylint

(update) Remove deploy_test_serving step from object_detection workflow
  .github/workflows/object_detection.yaml
Due: none

(update) Add git init if .git directory is missing for some reason
  .github/actions/run_linters_tests/action.yaml
Due: none

(update) Use docker run instead of github action for gcr-cleaner-cli, as it is failing for some reason
  .github/actions/build_test_push/action.yaml
Due: none

(update) Make steps using docker outside sub containers
  .github/actions/set_up_poetry/action.yaml
  .github/actions/set_up_python/action.yaml
  .github/actions/set_variables/action.yaml
  .github/workflows/model_instantiator.yaml
  .github/workflows/object_detection.yaml
  .github/workflows/people_counting.yaml
Due: none

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$, but not: ^migrations/
  isort: any of: \.py$
  toml-sort: any of: pyproject.toml
  pylint: any of: \.py$, but not: ^migrations/
  terraform fmt: any of: \.(tf|tfvars)$
